* {
  box-sizing: border-box;
  padding: 0; margin: 0
}

html {
  font-family: 'Ubuntu', sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%; height: 100%;
  position: relative;
}

@font-face {
  font-family: "mc-font";
  src: url(../fonts/minecraft-webfont.woff) format("woff"),
  url(../fonts/minecraft-webfont.woff2) format("woff");
}

#particles-js canvas{
  display: none;
}

///////////////////// SCSS //////////////////////////

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

$black: hsl(0, 0%, 0%);
$white: hsla(0, 0%, 100%, 0.6);
$shadow: hsla(0, 0%, 0%, 0.1);
$px: 4px;
$bubble-border: 0 -1*$px $white, 
		0 -2*$px $black, 
		$px 0 $white, 
		$px -1*$px $black, 
		2*$px 0 $black, 
		0 $px $white, 
		0 2*$px $black, 
		-1*$px 0 $white, 
		-1*$px  $px $black, 
		-2*$px 0 $black, 
		-1*$px -1*$px $black, 
		$px $px $black;

///////////////////// ANIMATIONS //////////////////////////

@keyframes logoAnim {
  0% {transform: translateY(0);}
  100% {transform: translateY(25px);}
}

@keyframes backToTopAnim {
  0% {transform: translateY(25px);}
  100% {transform: translateY(0);}
}

@keyframes testTest {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes greenPulse {
  0% {
    background-color: hsl(75, 97%, 31%);
    -webkit-box-shadow: 0 0 9px hsl(120, 100%, 40%);
  }
  50% {
    background-color: hsl(75, 91%, 39%);
    -webkit-box-shadow: 0 0 18px hsl(75, 91%, 39%);
  }
  100% {
    background-color: hsl(75, 97%, 31%);
    -webkit-box-shadow: 0 0 9px hsl(120, 100%, 40%);
  }
}

@keyframes cardShadow {
  from {
    box-shadow:inset 0 0 .75rem 0 rgb(226, 30, 38), 0 0 5px 0 #000
  }
  
  to {
    box-shadow:inset 0 0 .75rem 0 rgba(226, 30, 38, 0.01), 0 0 5px 0 #000
  }
}

@keyframes cardReverse {
  from {
    box-shadow:inset 0 0 .75rem 0 rgba(226, 30, 38, 0.01), 0 0 5px 0 #000
  }
  
  to {
    box-shadow:inset 0 0 .75rem 0 rgb(226, 30, 38), 0 0 5px 0 #000
  }
}

.cardAnimIn {
  animation-name: cardShadow;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-play-state: running;
}

.cardAnimOut {
  animation-name: cardReverse;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: alternate-reverse;
  animation-play-state: running;
}

///////////////////// BODY //////////////////////////

.page-wrapper {
  position: relative;
  background-image: url("../img/bg-sklep.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: auto; height: 100%;
  padding: 1rem;
  z-index: 50;
}

.the-header {
  @include flex-center();
  flex-direction: column;
}

.logo-wrapper {
  @include flex-center();

  .logo-header {
    width: 12rem; height: 12rem;
    margin: 1rem auto 0 auto;
    animation: 5s linear infinite alternate logoAnim;
  }
}

.header-text {
  text-align: center;
  color: hsl(0, 0%, 95%);
  font-size: 22px;
  margin-bottom: 2rem;
  font-family: 'mc-font';
}

.server,
.discord {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 16rem;
  margin: 0 auto;

  .dis-title,
  .serv-title {
    font-weight: 700;
    color: hsl(0, 0%, 95%);
    color: #e11d25;
    letter-spacing: 1px;
  }

  .join-server-dis {
    font-size: 10px;
    text-align: right;
    font-weight: 700;
    text-transform: uppercase;
    color: hsl(0, 0%, 90%);
  }

  .join-server-serv {
    font-size: 10px;
    text-align: left;
    font-weight: 700;
    text-transform: uppercase;
    color: hsl(0, 0%, 90%);
  }
}

.discord-links {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  

  a {
    text-decoration: none;
  }
}

.server-links {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  a {
    text-decoration: none;
  }
}

.server-img {
  width: 4rem; height: 4rem;
}

.status {
  /* COLOR STATUS ONLINE
  color: rgba(140, 213, 41, 0.7);
  */
  /* COLOR STATUS OFFLINE
  color: rgba(252, 146, 0, 0.7);
  */
  text-align: center;
  margin: 1rem auto;

  &.online {
    color: hsla(85, 68%, 50%, 1);
    @include flex-center();
  }

  .pulse {
    width: 10px; height: 10px;
    border-radius: 30px;

    &.green-light {
      animation: 2s linear infinite greenPulse;
      border: 6px solid hsla(85, 68%, 50%, 0.884);
    }
  }

  h3 {
    font-size: 14px;
  }
}

.navigation-wrapper {
  @include flex-center();
  flex-wrap: wrap;
  margin: 1rem auto;
  width: 100%;
  max-width: 100%;

  nav {
    width: 24rem;
    max-width: 100%;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: $bubble-border;
      background-image: url(../img/nav.png);
      background-size: contain;
      padding: .75rem;
      filter: grayscale(25%);

      li {
        list-style: none;

        a {
          color: hsl(0, 0%, 92%);
          @include flex-center();
          text-decoration: none;
          font-size: 1.25rem;

          &:hover {
            color: #fff;
          } 
        }
      }
    }
  }
}

///////////////////// IntersectionObserver //////////////////////////

.none {
  display: none;
}

.opacity-zero {
  opacity: 0;
}

.opacity-one {
  opacity: 1;
  transition: all 1.5s;
}

.intersection-anim {
  opacity: 0;
}

@keyframes anim1 {
  from{
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

///////////////////// Back to top Btn //////////////////////////

.show-btn {
  display: block;
  position: fixed;
  top: 85%; left: 82%;
}

.back-to-top {
  padding: .5rem;
  z-index: 100;
  background: none;
  border: none;
  animation: 2s linear infinite alternate backToTopAnim;
}

button svg {
  transform: rotate(270deg);
}

///////////////////// CARDS //////////////////////////

.cards-wrapper {
  margin: 2rem auto;
  z-index: 25;
}

.items-wrapper {
  width: 100%;
  margin: 2rem auto;
  background-color: hsla(0, 0%, 0%, 0.92);
  box-shadow: $bubble-border;
  padding: .5rem;

  .wrapper-title {
    font-size: 48px;
    color: hsl(0, 0%, 92%);
    text-align: center;
    margin: .75rem auto;
  }
}

.item-container {
  margin: 1rem auto;
  width: 100%;
}

.behind-bg {
  background-color: hsl(357, 8%, 50%);
  border-radius: 14px;
  padding: .6rem;
  margin: 0 auto;
  width: 22rem;
  max-width: 100%;
  transition: all 5s;

  &:hover {
    background-color: hsl(358, 77%, 50%);
  }
  
  .card {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 140px auto; 
    gap: 0px 0px; 
    grid-template-areas: 
      "card-header"
      "card-desc"
      "card-buttons"; 
    width: 100%; 
    border: 4px solid hsl(214, 12%, 12%);
    border-radius: 14px;
    padding: 1rem;

    .card-img {
      filter: drop-shadow(15px 11px 1px rgba(0, 0, 0, 0.77));
    }
  }

  .card-miecz {
    background: no-repeat center url(../img/miecz-tex.png);
    background-size: cover;
  }

  .card-luk {
    background: no-repeat center url(../img/luk-tex.png);
    background-size: cover;
  }

  .card-kilof {
    background: no-repeat center url(../img/kilof-tex.png);
    background-size: cover;
  }

  .card-unban {
    background: no-repeat center url(../img/unban-tex.png);
    background-size: cover;
  }

  .card-colorful {
    background: no-repeat center url(../img/colorful-tex.png);
    background-size: cover;

    .colorful {
      background-image: linear-gradient(to right, violet, indigo, rgba(0, 68, 255, 0.979), green, yellow, orange, red);
      -webkit-background-clip: text;
      color: transparent;
      font-weight: bold;
    }
  }

  .card-green {
    background: no-repeat center url(../img/green-tex.png);
    background-size: cover;
    
    .green {
      background-image: linear-gradient(to left, rgb(0, 255, 0), rgb(61, 230, 61), rgba(0, 224, 30, 0.5), rgb(0, 255, 106));
      -webkit-background-clip: text;
      color: transparent;
      font-weight: bold;
    }
  }

  .card-pink {
    background: no-repeat center url(../img/pink-tex.png);
    background-size: cover;

    .pink {
      background-image: linear-gradient(to bottom, #f011b8, #f50f40);
      -webkit-background-clip: text;
      color: transparent;
      font-weight: bold;
    }
  }
}

.behind-bg-slider {
  background-color: hsl(357, 8%, 50%);
  border-radius: 14px;
  padding: .6rem;
  margin: 0 auto;
  width: 22rem;
  transition: all 5s;

  &:hover {
    background-color: hsl(358, 77%, 50%);
  }

  .card-sliders {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 120px 60px auto; 
    gap: 0px 0px; 
    grid-template-areas: 
      "card-header"
      "card-desc"
      "card-slider"
      "card-buttons"; 
    width: 100%; 
    border: 4px solid hsl(214, 12%, 12%);
    border-radius: 14px;
    padding: 1rem;
  }

  .card-sponsor {
    background: no-repeat center url(../img/sponsor-tex.png);
    background-size: cover;

    .sponsor-color {
      color: hsl(178, 44%, 61%);
    }
  }

  .card-super-vip {
    background: no-repeat center url(../img/super-tex.png);
    background-size: cover;

    .super-color {
      color: hsl(59, 66%, 54%);
    }
  }

  .card-vip {
    background: no-repeat center url(../img/vip-tex.png);
    background-size: cover;

    .vip-color {
      color: hsl(48, 6%, 83%);
    }
  }

  .card-turbo-drop {
    background: no-repeat center url(../img/turbo-tex.png);
    background-size: cover;
  }

  .card-cheat-case {
    background: no-repeat center url(../img/cheat-tex.png);
    background-size: cover;
  }

  .input-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

.card-header {
  grid-area: card-header;
  @include flex-center();
  flex-direction: column;
  color:hsl(0, 0%, 90%);
  font-family: 'mc-font'; 

  .card-title {
    font-size: 2rem;
    line-height: 1.25;
    letter-spacing: 1.5px;
    font-weight: lighter;
  }

  span {
    font-size: 1.25rem;
    color: hsl(0, 0%, 88%);
  }
  
  img {
    width: 8rem; height: 8rem;
    margin: 1rem auto;
  }
}

.card-desc {
  grid-area: card-desc;
  color: hsl(0, 0%, 84%);
  width: 15rem;
  text-align: left;
  margin: 0 auto;
}

.card-slider {
  grid-area: card-slider;
  color: hsl(0, 0%, 95%);
  @include flex-center();
  flex-direction: column;

  .info-slider {
    margin-bottom: .35rem;
    font-size: 18px;
  }

  .input-slider {
    width: 98.5%;
    height: .5rem;
    border-radius: 2px;
    appearance: none;
    opacity: 0.7;
    margin-top: .5rem;

    &:hover,
    &:active {
      opacity: 1.0;
    }

    &::-webkit-slider-thumb {
      appearance:none;
      width: 25px; height: 25px;
      background: white;
      cursor: pointer;
      border-radius: 30px;
    }
  }

  .input-slider-sponsor {
    background-color: hsl(178, 44%, 61%);
  }

  .input-slider-super {
    background-color: hsl(59, 66%, 54%);
  }

  .input-slider-vip {
    background-color: hsl(48, 6%, 83%);
  }
}



.card-buttons {
  grid-area: card-buttons;
  display: flex;
  transition: all 1s;

  .card-button {
    border-radius: 2px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(255, 255, 255, 0.1),
    4px 4px 5px 0px rgba(255, 255, 255, 0.1);
    outline: none;
    transition: transform 0.5s;
    letter-spacing: 0.5px;
    margin: 1rem auto .25rem auto;
  }

  .input-buttons {
    width: 5.8rem;
    background-image: linear-gradient(0deg, hsl(35, 88%, 52%) 0%, hsl(54, 80%, 65%) 100%);
    border-radius: 2px;
    line-height: 42px;
    font-weight: 700;
    border: none;
    box-shadow: none;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(255, 255, 255, 0.1),
    4px 4px 5px 0px rgba(255, 255, 255, 0.1);
    transition: all 1s;

    &:hover {
      background-image: linear-gradient(0deg, hsl(35, 100%, 60%) 0%, hsl(54, 100%, 80%) 100%);
    }
  }

  .mirror-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: none;
    height: 40px;
    line-height: 42px;
    -webkit-perspective: 230;
    perspective: 999999999px;
    background: #f46b45;
    font-weight: 700;

    &:hover {
      transform: scale(1.15);
    }

    span {
      background: #f46b45;
      background: linear-gradient(0deg, #F09819 0%, #EDDE5D 100%);    
      display: block;
      position: absolute;
      width: 5.8rem;
      box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
      7px 7px 20px 0px rgba(0,0,0,.1),
      4px 4px 5px 0px rgba(0,0,0,.1);
      border-radius: 2px;
      text-align: center;
      -webkit-transition: all .3s;
      transition: all .3s;

      &:nth-child(1) {
        box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
        -webkit-transform: rotateX(90deg);
        -moz-transform: rotateX(90deg);
        transform: rotateX(90deg);
        -webkit-transform-origin: 50% 50% -20px;
        -moz-transform-origin: 50% 50% -20px;
        transform-origin: 50% 50% -20px;
      }

      &:nth-child(2) {
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: 50% 50% -20px;
        -moz-transform-origin: 50% 50% -20px;
        transform-origin: 50% 50% -20px;
      }
    }
  }
}

.mirror-btn:hover span:nth-child(1) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.mirror-btn:hover span:nth-child(2) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

///////////////////// FOOTER //////////////////////////

footer {

  @include flex-center();
  flex-direction: column;
  color: hsl(0, 0%, 95%);
  text-align: center;
  width: 80%;
  margin: 0 auto;

  .mojang-info {
    margin: 1rem auto;
    color: hsl(0, 0%, 78%);
    width: inherit;
  }

  .footer-text-czit {
    text-align: center;
    color: hsl(0, 0%, 88%);
    font-size: 2rem;
    margin-bottom: 2rem;
    font-family: 'mc-font';
  }

  .logo-footer {
    width: 10rem; height: 10rem;
    margin: 1rem auto 0 auto;
  }

  nav {
    margin: 1rem auto;
    text-align: left;
    color: hsl(0, 0%, 92%);
    @include flex-center();

    ul {
      list-style: disc;
      padding: .5rem;

      a {
        color: hsl(0, 0%, 82%);
        text-decoration: none;
        font-size: 1.25rem;

        &:hover {
          color: hsl(0, 0%, 100%);
        }
      }
    }
  }

  a {
    color: hsl(0, 0%, 70%);
    text-decoration: none;
  }
}

///////////////////// MEDIA QUERIES //////////////////////////

@media screen and (min-width: 600px) {
  
  .navigation-wrapper nav {
    width: 30rem;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-around;

      li {
        a {
          font-size: 1.5rem;
        }
      }
    }
  }
  
  .mojang-info {
    width: 30rem; 
    margin: 0 auto;
  }

  .footer-navigation {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto; 
    gap: 0px 0px; 
    grid-template-areas: 
    "footer-logo-wrapper footer-nav"
    "footer-text footer-text";
  }
  .footer-logo-wrapper { grid-area: footer-logo-wrapper; }
  .footer-nav { grid-area: footer-nav; }
  .footer-text { grid-area: footer-text; margin: 1rem auto; }
}

@media screen and (min-width: 768px) {
  .grid-wrapper {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "grid-title grid-title"
      "grid-first grid-second"
      "grid-third grid-third"; 
  }
  .grid-title { grid-area: grid-title; }
  .grid-first { grid-area: grid-first; }
  .grid-second { grid-area: grid-second; }
  .grid-third { grid-area: grid-third; @include flex-center(); }

  .grid-wrapper-slider {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "grid-title-slider grid-title-slider"
    "grid-first-slider grid-second-slider"
    "grid-third-slider grid-fourth-slider"
    "grid-fifth-slider grid-sixth-slider"; 
  }
  .grid-title-slider { grid-area: grid-title-slider; }
  .grid-first-slider { grid-area: grid-first-slider; }
  .grid-second-slider { grid-area: grid-second-slider; }
  .grid-third-slider { grid-area: grid-third-slider; }
  .grid-fourth-slider { grid-area: grid-fourth-slider; }
  .grid-fifth-slider { grid-area: grid-fifth-slider; }
  .grid-sixth-slider { grid-area: grid-sixth-slider; }

  .show-btn {
    top: 85%; left: 92%;
  }

  .grid-social {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "footer-navigation social"; 
  }
  .social { grid-area: social; }
  .footer-navigation { 
    grid-area: footer-navigation; 
  }
}

@media screen and (min-width: 992px) {

  .grid-header {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: auto auto; 
    gap: 0px 0px;
    margin: 0 auto;
    grid-template-areas: 
    "server logo-wrapper discord"
    "header-text header-text header-text"; 
  }
  .logo-wrapper { grid-area: logo-wrapper; }
  .header-text { grid-area: header-text; }
  .discord { grid-area: discord;  }
  .server { grid-area: server;  }

  .dis-title,
  .serv-title {
    font-size: 20px;
  }

  .server,
  .discord {
    animation: 5s linear infinite alternate logoAnim;
  }
}

@media screen and (min-width: 1200px) {
  .grid-wrapper {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: auto 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "grid-title grid-title grid-title"
      "grid-first grid-second grid-third"; 
  }
  .grid-title { grid-area: grid-title; }
  .grid-first { grid-area: grid-first; }
  .grid-second { grid-area: grid-second; }
  .grid-third { grid-area: grid-third; }

  .grid-wrapper-slider {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: auto 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "grid-title-slider grid-title-slider grid-title-slider"
    "grid-first-slider grid-second-slider grid-third-slider"
    "grid-fourth-slider grid-fifth-slider grid-sixth-slider"; 
  }
  .grid-title-slider { grid-area: grid-title-slider; }
  .grid-first-slider { grid-area: grid-first-slider; }
  .grid-second-slider { grid-area: grid-second-slider; }
  .grid-third-slider { grid-area: grid-third-slider; }
  .grid-fourth-slider { grid-area: grid-fourth-slider; }
  .grid-fifth-slider { grid-area: grid-fifth-slider; }
  .grid-sixth-slider { grid-area: grid-sixth-slider; }

  #logo-header {
    width: 16rem; height: 16rem;
  }

  .header-text h1 {
    font-size: 64px;
    color: hsl(0, 0%, 92%);
  }

  .status > h3 {
    font-size: 18px;
  }
}

@media screen and (min-width: 1400px) {
  .items-wrapper {
    width: 75rem;
  }

  #particles-js canvas{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    z-index: -10;
    display: block;
  }

  .show-btn {
    top: 75%; left: 88%;
  }

  button svg {
    width: 180px; 
    height: 180px;
  }

  footer {
    width: 75rem;

    .logo-footer {
      width: 12.5rem; height: 12.5rem;
    }

    .footer-text-czit {
      font-size: 3.5rem;
    }

    nav {
      ul {
        li {
          font-size: 30px;

          a {
            font-size: 30px;
          }
        }
      }
    }
  }

}

@media screen and (min-width: 1800px) {
  .show-btn {
    top: 80%; left: 82%;
  }
}


///////////////////// MODAL //////////////////////////

.modal {
  @include flex-center();
  flex-direction: column;
  border-radius: 14px;  
  border: 4px solid #1a1d21;
  box-shadow: inset 0 0 1rem 0 #fff, 0 0 5px 0 #000;
  -moz-box-shadow: inset 0 0 1rem 0 #fff, 0 0 5px 0 #000;
  -webkit-box-shadow: inset 0 0 1rem 0 #fff, 0 0 5px 0 #000;
  -khtml-box-shadow: rgb(255, 255, 255) inset 0 0 1rem;
  background-color: #bcbfc2;
  height: auto;
  padding: .75rem;
  transition: all 1s;
  font-size: 12px;
  position: fixed;
  top: 4%; left: 50%;
  transform: translateX(-50%);
  width: 350px;
  color: black;
  z-index: 1000;

  .modal-close {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;

    button {
      padding: .5rem;
      position: absolute;
      right: 0px;
      top: 20px;
    }
  }

  .modal-rule {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    h3 {
      font-size: 14px;
    }

    a {
      font-size: 14px;
      color: rgb(143, 143, 143);
    }

    .modal-link {
      padding: .5rem;
      background-color: inherit;
      border: 2px solid grey;
      border-radius: 4px;
    }
  }

  .modal-info {
    text-align: left;
 
    .modal-accept {
      display: flex;
      

      input {
        width: 28px;
      }
      
      .modal-accept-p {
        width: 80%;
        margin: 1rem auto;
      }
    }

    .modal-p {
      margin-bottom: 1rem;
    }
  }

  .modal-info-mojang {
    text-align: left;
    margin-bottom: 1rem;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;

    p {
      padding: 1rem;
    }
  }

  .modal-nick {
    min-width: 100%;

    input {
      width: 100%;
      height: 50px;
      padding: .5rem;
      border-radius: 4px;
      border: none;
      box-shadow: 0 7px 25px 0 rgba(0,0,0,.07);
      margin-bottom: 1rem;
      text-align: center;
    }
  }

  .modal-btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
      padding: .5rem;
      border: none;
      border-radius: 4px;
      margin-left: 8px;
    }

    .modal-cancel {
      background: none;
    }

    .modal-buy {
      box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
      background: linear-gradient(0deg, #F09819 0%, #EDDE5D 100%);
    }
  }
}

.hidden {
  display: none;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(30px);
  z-index: 100;
  transition: all 0.5s;
}

// .tran {
//   transition: all 1s;
//   transform: scale(1.2);
// }
