* {
  box-sizing: border-box;
  padding: 0; margin: 0
}

html {
  font-family: 'Ubuntu', sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%; height: 100%;
  position: relative;
}

@font-face {
  font-family: "mc-font";
  src: url(../fonts/minecraft-webfont.woff) format("woff"),
  url(../fonts/minecraft-webfont.woff2) format("woff");
}

#particles-js canvas{
  display: none;
}

///////////////////// SCSS //////////////////////////

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

$black: hsl(0, 0%, 0%);
$white: hsla(0, 0%, 100%, 0.6);
$shadow: hsla(0, 0%, 0%, 0.1);
$px: 4px;
$bubble-border: 0 -1*$px $white, 
		0 -2*$px $black, 
		$px 0 $white, 
		$px -1*$px $black, 
		2*$px 0 $black, 
		0 $px $white, 
		0 2*$px $black, 
		-1*$px 0 $white, 
		-1*$px  $px $black, 
		-2*$px 0 $black, 
		-1*$px -1*$px $black, 
		$px $px $black;

///////////////////// ANIMATIONS //////////////////////////

@keyframes logoAnim {
  0% {transform: translateY(0);}
  100% {transform: translateY(25px);}
}

@keyframes backToTopAnim {
  0% {transform: translateY(25px);}
  100% {transform: translateY(0);}
}

@keyframes greenPulse {
  0% {
    background-color: hsl(75, 97%, 31%);
    -webkit-box-shadow: 0 0 9px hsl(120, 100%, 40%);
  }
  50% {
    background-color: hsl(75, 91%, 39%);
    -webkit-box-shadow: 0 0 18px hsl(75, 91%, 39%);
  }
  100% {
    background-color: hsl(75, 97%, 31%);
    -webkit-box-shadow: 0 0 9px hsl(120, 100%, 40%);
  }
}

// @keyframes cardShadow {
//   from {
//     box-shadow:inset 0 0 .75rem 0 rgb(226, 30, 38), 0 0 5px 0 #000;
//   }
  
//   to {
//     box-shadow:inset 0 0 .75rem 0 rgba(226, 30, 38, 0.01), 0 0 5px 0 #000;
//   }
// }

// @keyframes cardReverse {
//   from {
//     box-shadow:inset 0 0 .75rem 0 rgba(226, 30, 38, 0.01), 0 0 5px 0 #000;
//   }
  
//   to {
//     box-shadow:inset 0 0 .75rem 0 rgb(226, 30, 38), 0 0 5px 0 #000;
//   }
// }

// .cardAnimIn {
//   animation-name: cardShadow;
//   animation-duration: 1s;
//   animation-timing-function: linear;
//   animation-iteration-count: infinite;
//   animation-direction: alternate-reverse;
//   animation-play-state: running;
// }

// .cardAnimOut {
//   animation-name: cardReverse;
//   animation-duration: .6s;
//   animation-timing-function: linear;
//   animation-iteration-count: 1;
//   animation-direction: alternate-reverse;
//   animation-play-state: running;
// }

///////////////////// BODY //////////////////////////

.page-wrapper {
  position: relative;
  background-image: url("../img/bg-sklep-2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: auto; height: 100%;
  padding: 1rem;
  z-index: 50;
}

.the-header {
  @include flex-center();
  flex-direction: column;
}

.logo-wrapper {
  @include flex-center();
  flex-direction: column;
  animation: 5s linear infinite alternate logoAnim;

  .logo-header {
    width: 12rem; height: 12rem;
    margin: 1rem auto 0 auto;
  }
}

.header-text {
  text-align: center;
  color: hsl(0, 0%, 95%);
  font-size: 22px;
  font-family: 'mc-font';
  margin: 1rem auto;
}

.server,
.discord {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 13rem;
  margin: 0 auto;
  
  // .test {
  //   margin-right: -2rem;
  // }

  .dis-title,
  .serv-title {
    font-weight: 700;
    color: hsl(0, 0%, 95%);
    color: #e11d25;
    letter-spacing: 1px;
  }

  .join-server-dis {
    font-size: 10px;
    text-align: right;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    color: hsl(0, 0%, 90%);
    margin-right: 2px;
  }

  .join-server-serv {
    font-size: 10px;
    text-align: left;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    color: hsl(0, 0%, 90%);
    margin-left: 2px;
  }
}

.discord-links {
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  a {
    text-decoration: none;
  }
}

.server-links {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  a {
    text-decoration: none;
  }
}

.server-img {
  width: 4rem; height: 4rem;
}

.status {
  /* COLOR STATUS ONLINE
  color: rgba(140, 213, 41, 0.7);
  */
  /* COLOR STATUS OFFLINE
  color: rgba(252, 146, 0, 0.7);
  */
  text-align: center;
  margin: 1rem auto;

  &.online {
    color: hsla(85, 68%, 50%, 1);
    @include flex-center();
  }

  .pulse {
    width: 10px; height: 10px;
    border-radius: 30px;

    &.green-light {
      animation: 2s linear infinite greenPulse;
      border: 6px solid hsla(85, 68%, 50%, 0.884);
    }
  }

  h3 {
    font-size: 14px;
  }
}

.navigation-wrapper {
  @include flex-center();
  flex-wrap: wrap;
  margin: 1rem auto;
  width: 100%;
  max-width: 100%;
  

  nav {
    width: 24rem;
    max-width: 100%;
    transition: all 1s;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: $bubble-border;
      background-image: url(../img/nav.png);
      background-size: contain;
      padding: .75rem;
      filter: grayscale(25%);
      height: 50px;
      transition: all 1s;

      li {
        list-style: none;
        transition: all 1s;

        a {
          color: hsl(0, 0%, 85%);
          @include flex-center();
          text-decoration: none;
          font-size: 1.25rem;
          transition: all .2s;
          z-index: 500;

          &:hover {
            color: #fff;
          }

          svg {
            fill: hsl(0, 0%, 85%);
            transition: all .2s;

            &:hover {
              fill: #fff;
            }
          }
        }
      }
    }
  }
}

///////////////////// IntersectionObserver //////////////////////////

.none {
  display: none;
}

.opacity-zero {
  opacity: 0;
}

.opacity-one {
  opacity: 1;
  transition: all 1.5s;
}

.intersection-anim {
  opacity: 0;
}

@keyframes interAnim {
  from{
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

///////////////////// Back to top Btn //////////////////////////

.show-btn {
  display: block;
  position: fixed;
  top: 85%; left: 82%;
}

.back-to-top {
  padding: .5rem;
  z-index: 100;
  background-color: hsl(0, 0%, 92%);
  border: none;
  border-radius: 2px;
  animation: 2s linear infinite alternate backToTopAnim;
  cursor: pointer;
}

button svg {
  transform: rotate(270deg);
}

///////////////////// CARDS //////////////////////////

.cards-wrapper {
  margin: 2rem auto;
  z-index: 25;
}

.items-wrapper {
  width: 100%;
  @include flex-center();
  flex-direction: column;
  margin: 2rem auto;
  background-color: hsla(0, 0%, 0%, 0.77);
  box-shadow: $bubble-border;
  padding: .5rem;

  .wrapper-title {
    font-size: 48px;
    color: hsl(0, 0%, 92%);
    text-align: center;
    margin: .75rem auto;
  }
}

.item-container {
  margin: 1rem auto;
  width: 100%;
}

.behind-bg {
  background-color: hsl(0, 0%, 95%);
  border-radius: 14px;
  padding: .45rem;
  margin: 0 auto;
  width: 22rem;
  max-width: 100%;
  transition: all 2s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, hsl(0, 8%, 8%) 0px 0px 0px 3px;

  &:hover {
    background-color: hsl(358, 77%, 50%);
  }
  
  .card {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr auto auto; 
    gap: 0px 0px; 
    grid-template-areas: 
      "card-header"
      "card-desc"
      "card-buttons"; 
    width: 100%; 
    border: 4px solid hsl(0, 8%, 12%);
    border-radius: 14px;
    padding: 1rem;
    transition: all 2s;

    &:hover {
      box-shadow: inset 0 0 .75rem 0 rgb(226, 30, 38), 0 0 5px 0 #000;
    }
    
    .card-img {
      filter: drop-shadow(15px 11px 1px rgba(0, 0, 0, 0.77));
    }
  }

  .card-miecz {
    background: no-repeat center url(../img/miecz-tex.png);
    background-size: cover;
  }

  .card-luk {
    background: no-repeat center url(../img/luk-tex.png);
    background-size: cover;
  }

  .card-kilof {
    background: no-repeat center url(../img/kilof-tex.png);
    background-size: cover;
  }

  .card-unban {
    background: no-repeat center url(../img/unban-tex.png);
    background-size: cover;
    height: 30.65rem;
  }

  .card-colorful {
    background: no-repeat center url(../img/colorful-tex.png);
    background-size: cover;

    .colorful {
      background-image: linear-gradient(to right, violet, indigo, rgba(0, 68, 255, 0.979), green, yellow, orange, red);
      -webkit-background-clip: text;
      color: transparent;
      font-weight: bold;
    }
  }

  .card-green {
    background: no-repeat center url(../img/green-tex.png);
    background-size: cover;
    
    .green {
      background-image: linear-gradient(to left, rgb(0, 255, 0), rgb(61, 230, 61), rgba(0, 224, 30, 0.5), rgb(0, 255, 106));
      -webkit-background-clip: text;
      color: transparent;
      font-weight: bold;
    }
  }

  .card-pink {
    background: no-repeat center url(../img/pink-tex.png);
    background-size: cover;

    .pink {
      background-image: linear-gradient(to bottom, #f011b8, #f50f40);
      -webkit-background-clip: text;
      color: transparent;
      font-weight: bold;
    }
  }
}

.behind-bg-slider {
  background-color: hsl(0, 0%, 95%);
  border-radius: 14px;
  padding: .45rem;
  margin: 0 auto;
  width: 22rem;
  transition: all 2s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, hsl(0, 8%, 8%) 0px 0px 0px 3px;

  &:hover {
    background-color: hsl(358, 77%, 50%);
  }

  .card-sliders {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 120px 60px auto; 
    gap: 0px 0px; 
    grid-template-areas: 
      "card-header"
      "card-desc"
      "card-slider"
      "card-buttons"; 
    width: 100%; 
    border: 4px solid hsl(0, 8%, 12%);
    border-radius: 14px;
    padding: 1rem;
    transition: all 2s;

    &:hover {
      box-shadow: inset 0 0 .75rem 0 rgb(226, 30, 38), 0 0 5px 0 #000;
    }
  }

  .card-sponsor {
    background: no-repeat center url(../img/sponsor-tex.png);
    background-size: cover;

    .sponsor-color {
      color: hsl(178, 44%, 61%);
    }
  }

  .card-super-vip {
    background: no-repeat center url(../img/super-tex.png);
    background-size: cover;

    .super-color {
      color: hsl(59, 66%, 54%);
    }
  }

  .card-vip {
    background: no-repeat center url(../img/vip-tex.png);
    background-size: cover;

    .vip-color {
      color: hsl(48, 6%, 83%);
    }
  }

  .card-turbo-drop {
    background: no-repeat center url(../img/turbo-tex.png);
    background-size: cover;
  }

  .card-cheat-case {
    background: no-repeat center url(../img/cheat-tex.png);
    background-size: cover;
  }

  .input-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .input-info-cheat {
      margin-left: 1.5rem;
    }

    .input-info-turbo {
      margin-left: 1rem;
    }
  }
}

.card-header {
  grid-area: card-header;
  @include flex-center();
  flex-direction: column;
  color:hsl(0, 0%, 90%);
  font-family: 'mc-font'; 
  

  .card-title {
    font-size: 2rem;
    line-height: 1.25;
    letter-spacing: 1.5px;
    font-weight: lighter;
    transition: all 2s;
  }

  span {
    font-size: 1.25rem;
    color: hsl(0, 0%, 88%);
  }
  
  img {
    // width: 240px; height: 240px;
    width: 8rem; height: 8rem;
    margin: 1rem auto;
  }
}

.red-mouseenter {
  color: hsl(358, 77%, 50%);
}

.white-mouseleave {
  color:hsl(0, 0%, 90%);
}

.card-desc {
  grid-area: card-desc;
  color: hsl(0, 0%, 84%);
  width: 15rem;
  text-align: left;
  margin: 0 auto;

  .price {
    margin-top: 8px;
    text-align: center;
    font-weight: 700;
    font-size: 1.25rem;
  }
}

.card-slider {
  grid-area: card-slider;
  color: hsl(0, 0%, 95%);
  @include flex-center();
  flex-direction: column;

  .info-slider {
    margin-bottom: .35rem;
    font-size: 18px;
  }

  .info-turbo {
    font-size: 16px;
  }

  .input-slider {
    width: 98.5%;
    height: .5rem;
    border-radius: 2px;
    appearance: none;
    opacity: 0.7;
    margin-top: .5rem;

    &:hover,
    &:active {
      opacity: 1.0;
    }

    &::-webkit-slider-thumb {
      appearance:none;
      width: 25px; height: 25px;
      background: white;
      cursor: pointer;
      border-radius: 30px;
    }
  }

  .input-slider-sponsor {
    background-color: hsl(178, 44%, 61%);
  }

  .input-slider-super {
    background-color: hsl(59, 66%, 54%);
  }

  .input-slider-vip {
    background-color: hsl(48, 6%, 83%);
  }
}



.card-buttons {
  grid-area: card-buttons;
  display: flex;
  transition: all 1s;

  .card-button {
    border-radius: 2px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(255, 255, 255, 0.1),
    4px 4px 5px 0px rgba(255, 255, 255, 0.1);
    outline: none;
    transition: transform 0.5s;
    letter-spacing: 0.5px;
    margin: 1rem auto .25rem auto;
  }

  .input-buttons {
    width: 5.8rem;
    height: 50px;
    background-image: linear-gradient(0deg, hsl(35, 88%, 52%) 0%, hsl(54, 80%, 65%) 100%);
    border-radius: 2px;
    font-weight: 700;
    border: none;
    box-shadow: none;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(255, 255, 255, 0.1),
    4px 4px 5px 0px rgba(255, 255, 255, 0.1);
    transition: all 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &:hover {
      background-image: linear-gradient(0deg, hsl(35, 100%, 60%) 0%, hsl(54, 100%, 80%) 100%);
    }
  }

  .mirror-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: none;
    height: 50px;
    line-height: 42px;
    -webkit-perspective: 230;
    perspective: 999999999px;
    background: #f46b45;
    font-weight: 700;

    &:hover {
      transform: scale(1.15);
    }

    span {
      background: #f46b45;
      background: linear-gradient(0deg, #F09819 0%, #EDDE5D 100%);    
      @include flex-center();
      height: 50px;
      position: absolute;
      width: 5.8rem;
      box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
      7px 7px 20px 0px rgba(0,0,0,.1),
      4px 4px 5px 0px rgba(0,0,0,.1);
      border-radius: 2px;
      text-align: center;
      -webkit-transition: all .3s;
      transition: all .3s;

      &:nth-child(1) {
        box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
        -webkit-transform: rotateX(90deg);
        -moz-transform: rotateX(90deg);
        transform: rotateX(90deg);
        -webkit-transform-origin: 50% 50% -20px;
        -moz-transform-origin: 50% 50% -20px;
        transform-origin: 50% 50% -20px;
      }

      &:nth-child(2) {
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: 50% 50% -20px;
        -moz-transform-origin: 50% 50% -20px;
        transform-origin: 50% 50% -20px;
      }
    }
  }
}

.mirror-btn:hover span:nth-child(1) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.mirror-btn:hover span:nth-child(2) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

///////////////////// FOOTER //////////////////////////

footer {

  @include flex-center();
  flex-direction: column;
  color: hsl(0, 0%, 95%);
  text-align: center;
  width: 80%;
  margin: 0 auto;

  .mojang-info {
    margin: 1rem auto;
    color: hsl(0, 0%, 78%);
    width: inherit;
  }

  .footer-text-czit {
    text-align: center;
    color: hsl(0, 0%, 88%);
    font-size: 2rem;
    margin-bottom: 2rem;
    font-family: 'mc-font';
  }

  .logo-footer {
    width: 10rem; height: 10rem;
    margin: 1rem auto 0 auto;
  }

  nav {
    margin: 1rem auto;
    text-align: left;
    color: hsl(0, 0%, 92%);
    @include flex-center();

    ul {
      list-style: disc;
      padding: .5rem;

      a {
        color: hsl(0, 0%, 82%);
        text-decoration: none;
        font-size: 1.25rem;

        &:hover {
          color: hsl(0, 0%, 100%);
          border-bottom: 2px solid white;
        }
      }
    }
  }

  a {
    color: hsl(0, 0%, 70%);
    text-decoration: none;
  }
}

///////////////////// MEDIA QUERIES //////////////////////////

@media screen and (min-width: 600px) {
  
  .navigation-wrapper nav {
    width: 30rem;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-around;

      li {
        a {
          font-size: 1.5rem;
        }
      }
    }
  }
  
  .mojang-info {
    width: 30rem; 
    margin: 0 auto;
  }

  .footer-navigation {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto; 
    gap: 0px 0px; 
    grid-template-areas: 
    "footer-logo-wrapper footer-nav"
    "footer-text footer-text";
  }
  .footer-logo-wrapper { grid-area: footer-logo-wrapper; }
  .footer-nav { grid-area: footer-nav; }
  .footer-text { grid-area: footer-text; margin: 1rem auto; }
}

@media screen and (min-width: 768px) {
  .grid-wrapper {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "grid-title grid-title"
      "grid-first grid-second"
      "grid-third grid-third"; 
  }
  .grid-title { grid-area: grid-title; }
  .grid-first { grid-area: grid-first; }
  .grid-second { grid-area: grid-second; }
  .grid-third { grid-area: grid-third; @include flex-center(); }

  .grid-wrapper-slider {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "grid-title-slider grid-title-slider"
    "grid-first-slider grid-second-slider"
    "grid-third-slider grid-fourth-slider"
    "grid-fifth-slider grid-sixth-slider"; 
  }
  .grid-title-slider { grid-area: grid-title-slider; }
  .grid-first-slider { grid-area: grid-first-slider; }
  .grid-second-slider { grid-area: grid-second-slider; }
  .grid-third-slider { grid-area: grid-third-slider; }
  .grid-fourth-slider { grid-area: grid-fourth-slider; }
  .grid-fifth-slider { grid-area: grid-fifth-slider; }
  .grid-sixth-slider { grid-area: grid-sixth-slider; }

  .show-btn {
    top: 85%; left: 92%;
  }

  .grid-social {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "footer-navigation social"; 
  }
  .social { grid-area: social; }
  .footer-navigation { 
    grid-area: footer-navigation; 
  }

  div.behind-bg-modal {
    width: 620px;

    article.modal {
      // width: 100%;

      .modal-rule {
        width: 65%;
        margin: 0 auto;
        
        h3 {
          font-size: 18px;
        }
      }

      .modal-p {
        font-size: 14px;
      }

      .modal-accept {
        width: 85%;
        margin: 0 auto;
      }
    }
  }
}

@media screen and (min-width: 992px) {

  .grid-header {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: auto auto; 
    gap: 0px 0px;
    margin: 0 auto;
    grid-template-areas: 
    "server logo-wrapper discord"
    "header-text header-text header-text"; 
  }
  .logo-wrapper { grid-area: logo-wrapper; }
  .header-text { grid-area: header-text; }
  .discord { grid-area: discord;  }
  .server { grid-area: server;  }

  .dis-title,
  .serv-title {
    font-size: 20px;
  }

  .server,
  .discord {
    animation: 5s linear infinite alternate logoAnim;
  }

  .server {
    width: 15rem;
  }

  .discord {
    width: 16rem;
  }
}

@media screen and (min-width: 1200px) {
  .grid-wrapper {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: auto 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "grid-title grid-title grid-title"
      "grid-first grid-second grid-third"; 
  }
  .grid-title { grid-area: grid-title; }
  .grid-first { grid-area: grid-first; }
  .grid-second { grid-area: grid-second; }
  .grid-third { grid-area: grid-third; }

  .grid-wrapper-slider {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: auto 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "grid-title-slider grid-title-slider grid-title-slider"
    "grid-first-slider grid-second-slider grid-third-slider"
    "grid-fourth-slider grid-fifth-slider grid-sixth-slider"; 
  }
  .grid-title-slider { grid-area: grid-title-slider; }
  .grid-first-slider { grid-area: grid-first-slider; }
  .grid-second-slider { grid-area: grid-second-slider; }
  .grid-third-slider { grid-area: grid-third-slider; }
  .grid-fourth-slider { grid-area: grid-fourth-slider; }
  .grid-fifth-slider { grid-area: grid-fifth-slider; }
  .grid-sixth-slider { grid-area: grid-sixth-slider; }

  #logo-header {
    width: 16rem; height: 16rem;
  }

  .header-text h1 {
    font-size: 82px;
    color: hsl(0, 0%, 92%);
  }

  .status > h3 {
    font-size: 18px;
  }

  .behind-bg {
    .card {
      grid-template-rows: 1fr 140px auto; 
    }
  }

  .price {
    display: none;
  }
}

@media screen and (min-width: 1400px) {
  .items-wrapper {
    width: 75rem;
  }

  #particles-js canvas{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    z-index: -10;
    display: block;
  }

  .show-btn {
    top: 75%; left: 93%;
  }

  button svg {
    width: 75px; 
    height: 75px;
  }

  footer {
    width: 75rem;

    .logo-footer {
      width: 12.5rem; height: 12.5rem;
    }

    .footer-text-czit {
      font-size: 3.5rem;
    }

    nav {
      ul {
        li {
          font-size: 30px;

          a {
            font-size: 30px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1800px) {
  .show-btn {
    top: 80%; left: 86%;
  }
}

///////////////////// MODAL //////////////////////////

.hidden {
  visibility: hidden;
  opacity: 0;
}

.behind-bg-modal {
  position: fixed;
  display: block;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  padding: .5rem;
  background-color: hsl(0, 0%, 95%);
  border-radius: 14px;
  margin: 0 auto;
  transition: all 2s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, hsl(0, 8%, 8%) 0px 0px 0px 3px;
  height: 700px;
  width: 24rem;
  transition: all .5s;
  

  .modal {
    @include flex-center();
    flex-direction: column;
    border-radius: 14px;  
    border: 4px solid #1a1d21;
    box-shadow: inset 0 0 1rem 0 #fff, 0 0 5px 0 #000;
    -moz-box-shadow: inset 0 0 1rem 0 #fff, 0 0 5px 0 #000;
    -webkit-box-shadow: inset 0 0 1rem 0 #fff, 0 0 5px 0 #000;
    -khtml-box-shadow: rgb(255, 255, 255) inset 0 0 1rem;
    background-color: #dddddd;
    font-size: 12px;
    padding: .45rem;
    width: 100%; height: 100%;
    color: hsl(0, 0%, 11%);
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: auto 1fr 1fr 1fr 1fr auto; 
    gap: 0px 0px; 
    grid-template-areas: 
      "modal-close"
      "modal-rule"
      "modal-info"
      "modal-info-mojang"
      "modal-nick"
      "modal-btns"; 

      .modal-close { 
        grid-area: modal-close; 
        button {
          padding: .5rem .75rem;
          position: absolute;
          top: -10px;
          right: -10px;
          background-color: #000;
          border: none; 
          outline: none;
          color: white;
          border-radius: 8px;
          cursor: pointer;
        }
      }
      .modal-rule { 
        grid-area: modal-rule;
        display: flex;
        align-items: center;
        justify-content: space-around;
        
        h3 {
          font-size: 14px;
        }

        a {
          font-size: 14px;
          color: hsl(0, 0%, 40%);
        }

        .modal-link {
          padding: .5rem;
          background-color: hsl(0, 0%, 85%);
          border: 2px solid grey;
          border-radius: 4px;
        }
      }
      .modal-info { 
        grid-area: modal-info; 
        text-align: left;
 
        .modal-accept {
          @include flex-center();
      
          input {
            width: 28px;
          }
    
          .modal-accept-p {
            width: 80%;
            margin: 1rem auto;
          }
        }

        .modal-p {
          width: 88%;
          margin: 0 auto 1rem auto;
          color: hsl(0, 0%, 40%);

          .orange-info {
            color: blue;
            font-style: oblique;
          }
        }
      }
      .modal-info-mojang { 
        grid-area: modal-info-mojang; 
        text-align: center;
        margin: 0 auto 1rem auto;
        border-top: 2px solid hsl(0, 0%, 85%);
        border-bottom: 2px solid hsl(0, 0%, 85%);
        padding: 1rem 0;
        width: 88%;
      }
      .modal-nick { 
        grid-area: modal-nick; 
        width: 88%;
        margin: 0 auto;
        @include flex-center();

        input {
          width: 100%;
          height: 50px;
          padding: .5rem;
          border-radius: 4px;
          border: none;
          box-shadow: 0 7px 25px 0 rgba(0,0,0,.07);
          text-align: center;
        }
      }
      .modal-btns { 
        grid-area: modal-btns; 
        width: 88%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 0 auto;

        button {
          padding: 1rem;
          border: none;
          border-radius: 4px;
          margin-left: 8px;
        }

        .modal-cancel {
          background: none;
        }

        .modal-buy {
          box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
          background: linear-gradient(0deg, #F09819 0%, #EDDE5D 100%);
          font-weight: 700;
        }
    }
  }

  .modal-title {
    font-size: 18px;
    text-align: center;
    margin-top: 1rem;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all .5s
}

.active {
  text-decoration: underline;
}

// SVG ANIMATION

// @keyframes line {
//   100% {
//     stroke-dashoffset: 0;
//   }
// }

// .btn-border {
//   stroke-dasharray:2 6 20 6 50 20;
//   stroke-dashoffset:104;
//   animation: line 4s cubic-bezier(.88,.44,.54,.77) forwards infinite;
//   -webkit-animation:line 4s cubic-bezier(.88,.44,.54,.77) forwards infinite;
//   z-index: 5;
// }

// // .btn-text {
// //   transition: transform .3s;
// //   transform-origin: center;
// // }