* {
  box-sizing: border-box;
  padding: 0; margin: 0
}

html {
  font-family: 'Ubuntu', sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%; height: 100%;
}

#particles-js canvas{
  position: absolute;
  z-index: -5;
  top: 0;
  max-width: 67%;
}

@font-face {
  font-family: "mc-font";
  src: url(../fonts/minecraft-webfont.woff) format("woff"),
  url(../fonts/minecraft-webfont.woff2) format("woff");
}

///////////////////// SCSS //////////////////////////

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

$black: hsl(0, 0%, 0%);
$white: hsla(0, 0%, 100%, 0.6);
$shadow: hsla(0, 0%, 0%, 0.1);
$px: 4px;
$bubble-border: 0 -1*$px $white, 
		0 -2*$px $black, 
		$px 0 $white, 
		$px -1*$px $black, 
		2*$px 0 $black, 
		0 $px $white, 
		0 2*$px $black, 
		-1*$px 0 $white, 
		-1*$px  $px $black, 
		-2*$px 0 $black, 
		-1*$px -1*$px $black, 
		$px $px $black;

///////////////////// ANIMATIONS //////////////////////////

@keyframes logoAnim {
  0% {transform: translateY(0);}
  100% {transform: translateY(-20px);}
}

@keyframes greenPulse {
  0% {
    background-color: hsl(75, 97%, 31%);
    -webkit-box-shadow: 0 0 9px hsl(120, 100%, 40%);
  }
  50% {
    background-color: hsl(75, 91%, 39%);
    -webkit-box-shadow: 0 0 18px hsl(75, 91%, 39%);
  }
  100% {
    background-color: hsl(75, 97%, 31%);
    -webkit-box-shadow: 0 0 9px hsl(120, 100%, 40%);
  }
}

///////////////////// BODY //////////////////////////

.page-wrapper {
  position: relative;
  background-image: url("../img/bg-sklep.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: auto; height: 100%;
  padding: 1rem;
}

.logo-wrapper {
  @include flex-center();
  
  #logo-img {
    width: 8rem; height: 8rem;
    margin: 1rem auto 0 auto;
    animation: 5s linear infinite alternate logoAnim;
  }
}

.header-text {
  text-align: center;
  color: white;
  font-size: 26px;
}

.status {
  /* COLOR STATUS ONLINE
  color: rgba(140, 213, 41, 0.7);
  */
  /* COLOR STATUS OFFLINE
  color: rgba(252, 146, 0, 0.7);
  */
  text-align: center;
  margin: 1rem auto;

  &.online {
    color: hsla(85, 68%, 50%, 0.7);
    @include flex-center();
  }

  .pulse {
    width: 10px; height: 10px;
    border-radius: 30px;

    &.green-light {
      animation: 2s linear infinite greenPulse;
      border: 6px solid hsla(85, 68%, 50%, 0.884);
    }
  }
}

.navigation-wrapper {
  @include flex-center();
  flex-wrap: wrap;
  margin: 1rem auto;

  nav {
    width: 24rem;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: $bubble-border;
      background-image: url(../img/nav.png);
      background-size: contain;
      padding: .75rem;
      filter: grayscale(25%);

      li {
        list-style: none;

        a {
          color: hsl(0, 0%, 90%);
          display: flex;
          text-decoration: none;
          font-size: 1.25rem;

          &:hover {
            color: #fff;
          } 
          
          .logo-icon {
            width: 1.5rem; height: 1.5rem;
            margin-right: .25rem;
          } 
        }
      }
    }
  }
}

.back-to-top {
  display: none;
}

///////////////////// CARDS //////////////////////////

.cards-wrapper {
  margin: 2rem auto;
}

.weapons-wrapper {
  width: 100%;
  margin: 2rem auto;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: $bubble-border;
  padding: .5rem;

  .weapons-title {
    font-size: 48px;
    color: white;
    text-align: center;
    margin: .75rem auto;
    // font-family: 'mc-font';
  }
}

.weapon-container {
  margin: 1rem auto;
  width: 100%;
}

.behind-cards-bg {
  background-image: linear-gradient(180deg,#757b81,#a1a5aa);
  border-radius: 14px;
  padding: .6rem;
  margin: 0 auto;
  width: 22rem;

  // card osobny na slidery

  .card {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 120px auto; 
    gap: 0px 0px; 
    grid-template-areas: 
      "card-header"
      "card-desc"
      "card-buttons"; 
    width: 100%; 
    border: 4px solid hsl(214, 12%, 12%);
    border-radius: 14px;
    padding: 1rem;
  }

  .card-miecz {
    background: no-repeat center url(../img/miecz-tex.png);
    background-size: cover;
  }

  .card-luk {
    background: no-repeat center url(../img/luk-tex.png);
    background-size: cover;
  }

  .card-kilof {
    background: no-repeat center url(../img/kilof-tex.png);
    background-size: cover;
  }
}

.card-header {
  grid-area: card-header;
  @include flex-center();
  flex-direction: column;
  color:hsl(0, 0%, 95%);
  font-family: 'mc-font'; 
  

  .card-title {
    font-size: 2rem;
    line-height: 1.25;
    letter-spacing: 1.5px;
    font-weight: lighter;
  }

  span {
    font-size: 1.25rem;
  }
  
  img {
    width: 8rem; height: 8rem;
    margin: 1rem auto;
  }
}

.card-desc {
  grid-area: card-desc;
  color: hsl(0, 0%, 92%);
  // @include flex-center();
  width: 14rem;
  text-align: left;
  margin: 0 auto;
}

.card-buttons {
  grid-area: card-buttons;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;

  .card-button {
    border-radius: 2px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(255, 255, 255, 0.1),
    4px 4px 5px 0px rgba(255, 255, 255, 0.1);
    outline: none;
    transition: transform 0.5s;
    letter-spacing: 0.5px;
    margin: 1rem auto .25rem auto;
  }

  .mirror-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: none;
    height: 40px;
    line-height: 42px;
    -webkit-perspective: 230;
    perspective: 999999999px;
    background: #f46b45;
    width: 50px;


    &:hover {
      transform: scale(1.15);
    }

    span {
      background: #f46b45;
      background: linear-gradient(0deg, #F09819 0%, #EDDE5D 100%);    
      display: block;
      position: absolute;
      width: 6.4rem;
      box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
      7px 7px 20px 0px rgba(0,0,0,.1),
      4px 4px 5px 0px rgba(0,0,0,.1);
      border-radius: 2px;
      text-align: center;
      -webkit-transition: all .3s;
      transition: all .3s;

      &:nth-child(1) {
        box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
        -webkit-transform: rotateX(90deg);
        -moz-transform: rotateX(90deg);
        transform: rotateX(90deg);
        -webkit-transform-origin: 50% 50% -20px;
        -moz-transform-origin: 50% 50% -20px;
        transform-origin: 50% 50% -20px;
      }

      &:nth-child(2) {
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: 50% 50% -20px;
        -moz-transform-origin: 50% 50% -20px;
        transform-origin: 50% 50% -20px;
      }
    }
  }
}

.mirror-btn:hover span:nth-child(1) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.mirror-btn:hover span:nth-child(2) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}


