* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Ubuntu', sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
}

@font-face {
  font-family: "mc-font";
  src: url(../fonts/minecraft-webfont.woff) format("woff"), url(../fonts/minecraft-webfont.woff2) format("woff");
}

#particles-js canvas {
  display: none;
}

@-webkit-keyframes logoAnim {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
}

@keyframes logoAnim {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
}

@-webkit-keyframes backToTopAnim {
  0% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes backToTopAnim {
  0% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes testTest {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes testTest {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes greenPulse {
  0% {
    background-color: #759c02;
    -webkit-box-shadow: 0 0 9px #00cc00;
  }
  50% {
    background-color: #91be09;
    -webkit-box-shadow: 0 0 18px #91be09;
  }
  100% {
    background-color: #759c02;
    -webkit-box-shadow: 0 0 9px #00cc00;
  }
}

@keyframes greenPulse {
  0% {
    background-color: #759c02;
    -webkit-box-shadow: 0 0 9px #00cc00;
  }
  50% {
    background-color: #91be09;
    -webkit-box-shadow: 0 0 18px #91be09;
  }
  100% {
    background-color: #759c02;
    -webkit-box-shadow: 0 0 9px #00cc00;
  }
}

@-webkit-keyframes cardShadow {
  from {
    -webkit-box-shadow: inset 0 0 0.75rem 0 #e21e26, 0 0 5px 0 #000;
            box-shadow: inset 0 0 0.75rem 0 #e21e26, 0 0 5px 0 #000;
  }
  to {
    -webkit-box-shadow: inset 0 0 0.75rem 0 rgba(226, 30, 38, 0.01), 0 0 5px 0 #000;
            box-shadow: inset 0 0 0.75rem 0 rgba(226, 30, 38, 0.01), 0 0 5px 0 #000;
  }
}

@keyframes cardShadow {
  from {
    -webkit-box-shadow: inset 0 0 0.75rem 0 #e21e26, 0 0 5px 0 #000;
            box-shadow: inset 0 0 0.75rem 0 #e21e26, 0 0 5px 0 #000;
  }
  to {
    -webkit-box-shadow: inset 0 0 0.75rem 0 rgba(226, 30, 38, 0.01), 0 0 5px 0 #000;
            box-shadow: inset 0 0 0.75rem 0 rgba(226, 30, 38, 0.01), 0 0 5px 0 #000;
  }
}

@-webkit-keyframes cardReverse {
  from {
    -webkit-box-shadow: inset 0 0 0.75rem 0 rgba(226, 30, 38, 0.01), 0 0 5px 0 #000;
            box-shadow: inset 0 0 0.75rem 0 rgba(226, 30, 38, 0.01), 0 0 5px 0 #000;
  }
  to {
    -webkit-box-shadow: inset 0 0 0.75rem 0 #e21e26, 0 0 5px 0 #000;
            box-shadow: inset 0 0 0.75rem 0 #e21e26, 0 0 5px 0 #000;
  }
}

@keyframes cardReverse {
  from {
    -webkit-box-shadow: inset 0 0 0.75rem 0 rgba(226, 30, 38, 0.01), 0 0 5px 0 #000;
            box-shadow: inset 0 0 0.75rem 0 rgba(226, 30, 38, 0.01), 0 0 5px 0 #000;
  }
  to {
    -webkit-box-shadow: inset 0 0 0.75rem 0 #e21e26, 0 0 5px 0 #000;
            box-shadow: inset 0 0 0.75rem 0 #e21e26, 0 0 5px 0 #000;
  }
}

.cardAnimIn {
  -webkit-animation-name: cardShadow;
          animation-name: cardShadow;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.cardAnimOut {
  -webkit-animation-name: cardReverse;
          animation-name: cardReverse;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  animation-direction: alternate-reverse;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.page-wrapper {
  position: relative;
  background-image: url("../img/bg-sklep.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: auto;
  height: 100%;
  padding: 1rem;
  z-index: 50;
}

.the-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo-wrapper .logo-header {
  width: 12rem;
  height: 12rem;
  margin: 1rem auto 0 auto;
  -webkit-animation: 5s linear infinite alternate logoAnim;
          animation: 5s linear infinite alternate logoAnim;
}

.header-text {
  text-align: center;
  color: #f2f2f2;
  font-size: 22px;
  margin-bottom: 2rem;
  font-family: 'mc-font';
}

.server,
.discord {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 16rem;
  margin: 0 auto;
}

.server .dis-title,
.server .serv-title,
.discord .dis-title,
.discord .serv-title {
  font-weight: 700;
  color: #f2f2f2;
  color: #e11d25;
  letter-spacing: 1px;
}

.server .join-server-dis,
.discord .join-server-dis {
  font-size: 10px;
  text-align: right;
  font-weight: 700;
  text-transform: uppercase;
  color: #e6e6e6;
}

.server .join-server-serv,
.discord .join-server-serv {
  font-size: 10px;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
  color: #e6e6e6;
}

.discord-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.discord-links a {
  text-decoration: none;
}

.server-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.server-links a {
  text-decoration: none;
}

.server-img {
  width: 4rem;
  height: 4rem;
}

.status {
  /* COLOR STATUS ONLINE
  color: rgba(140, 213, 41, 0.7);
  */
  /* COLOR STATUS OFFLINE
  color: rgba(252, 146, 0, 0.7);
  */
  text-align: center;
  margin: 1rem auto;
}

.status.online {
  color: #8ed629;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.status .pulse {
  width: 10px;
  height: 10px;
  border-radius: 30px;
}

.status .pulse.green-light {
  -webkit-animation: 2s linear infinite greenPulse;
          animation: 2s linear infinite greenPulse;
  border: 6px solid rgba(142, 214, 41, 0.884);
}

.status h3 {
  font-size: 14px;
}

.navigation-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1rem auto;
  width: 100%;
  max-width: 100%;
}

.navigation-wrapper nav {
  width: 24rem;
  max-width: 100%;
}

.navigation-wrapper nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 -4px rgba(255, 255, 255, 0.6), 0 -8px black, 4px 0 rgba(255, 255, 255, 0.6), 4px -4px black, 8px 0 black, 0 4px rgba(255, 255, 255, 0.6), 0 8px black, -4px 0 rgba(255, 255, 255, 0.6), -4px 4px black, -8px 0 black, -4px -4px black, 4px 4px black;
          box-shadow: 0 -4px rgba(255, 255, 255, 0.6), 0 -8px black, 4px 0 rgba(255, 255, 255, 0.6), 4px -4px black, 8px 0 black, 0 4px rgba(255, 255, 255, 0.6), 0 8px black, -4px 0 rgba(255, 255, 255, 0.6), -4px 4px black, -8px 0 black, -4px -4px black, 4px 4px black;
  background-image: url(../img/nav.png);
  background-size: contain;
  padding: .75rem;
  -webkit-filter: grayscale(25%);
          filter: grayscale(25%);
}

.navigation-wrapper nav ul li {
  list-style: none;
}

.navigation-wrapper nav ul li a {
  color: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-size: 1.25rem;
}

.navigation-wrapper nav ul li a:hover {
  color: #fff;
}

.none {
  display: none;
}

.opacity-zero {
  opacity: 0;
}

.opacity-one {
  opacity: 1;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.intersection-anim {
  opacity: 0;
}

@-webkit-keyframes anim1 {
  from {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes anim1 {
  from {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.show-btn {
  display: block;
  position: fixed;
  top: 85%;
  left: 82%;
}

.back-to-top {
  padding: .5rem;
  z-index: 100;
  background: none;
  border: none;
  -webkit-animation: 2s linear infinite alternate backToTopAnim;
          animation: 2s linear infinite alternate backToTopAnim;
}

button svg {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.cards-wrapper {
  margin: 2rem auto;
  z-index: 25;
}

.items-wrapper {
  width: 100%;
  margin: 2rem auto;
  background-color: rgba(0, 0, 0, 0.77);
  -webkit-box-shadow: 0 -4px rgba(255, 255, 255, 0.6), 0 -8px black, 4px 0 rgba(255, 255, 255, 0.6), 4px -4px black, 8px 0 black, 0 4px rgba(255, 255, 255, 0.6), 0 8px black, -4px 0 rgba(255, 255, 255, 0.6), -4px 4px black, -8px 0 black, -4px -4px black, 4px 4px black;
          box-shadow: 0 -4px rgba(255, 255, 255, 0.6), 0 -8px black, 4px 0 rgba(255, 255, 255, 0.6), 4px -4px black, 8px 0 black, 0 4px rgba(255, 255, 255, 0.6), 0 8px black, -4px 0 rgba(255, 255, 255, 0.6), -4px 4px black, -8px 0 black, -4px -4px black, 4px 4px black;
  padding: .5rem;
}

.items-wrapper .wrapper-title {
  font-size: 48px;
  color: #ebebeb;
  text-align: center;
  margin: .75rem auto;
}

.item-container {
  margin: 1rem auto;
  width: 100%;
}

.behind-bg {
  background-color: #8a7576;
  border-radius: 14px;
  padding: .45rem;
  margin: 0 auto;
  width: 22rem;
  max-width: 100%;
  -webkit-transition: all 5s;
  transition: all 5s;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, #161313 0px 0px 0px 3px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, #161313 0px 0px 0px 3px;
}

.behind-bg:hover {
  background-color: #e21d24;
}

.behind-bg .card {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 140px auto;
      grid-template-rows: 1fr 140px auto;
  gap: 0px 0px;
      grid-template-areas: "card-header" "card-desc" "card-buttons";
  width: 100%;
  border: 4px solid #211c1c;
  border-radius: 14px;
  padding: 1rem;
}

.behind-bg .card .card-img {
  -webkit-filter: drop-shadow(15px 11px 1px rgba(0, 0, 0, 0.77));
          filter: drop-shadow(15px 11px 1px rgba(0, 0, 0, 0.77));
}

.behind-bg .card-miecz {
  background: no-repeat center url(../img/miecz-tex.png);
  background-size: cover;
}

.behind-bg .card-luk {
  background: no-repeat center url(../img/luk-tex.png);
  background-size: cover;
}

.behind-bg .card-kilof {
  background: no-repeat center url(../img/kilof-tex.png);
  background-size: cover;
}

.behind-bg .card-unban {
  background: no-repeat center url(../img/unban-tex.png);
  background-size: cover;
}

.behind-bg .card-colorful {
  background: no-repeat center url(../img/colorful-tex.png);
  background-size: cover;
}

.behind-bg .card-colorful .colorful {
  background-image: -webkit-gradient(linear, left top, right top, from(violet), color-stop(indigo), color-stop(rgba(0, 68, 255, 0.979)), color-stop(green), color-stop(yellow), color-stop(orange), to(red));
  background-image: linear-gradient(to right, violet, indigo, rgba(0, 68, 255, 0.979), green, yellow, orange, red);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

.behind-bg .card-green {
  background: no-repeat center url(../img/green-tex.png);
  background-size: cover;
}

.behind-bg .card-green .green {
  background-image: -webkit-gradient(linear, right top, left top, from(lime), color-stop(#3de63d), color-stop(rgba(0, 224, 30, 0.5)), to(#00ff6a));
  background-image: linear-gradient(to left, lime, #3de63d, rgba(0, 224, 30, 0.5), #00ff6a);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

.behind-bg .card-pink {
  background: no-repeat center url(../img/pink-tex.png);
  background-size: cover;
}

.behind-bg .card-pink .pink {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f011b8), to(#f50f40));
  background-image: linear-gradient(to bottom, #f011b8, #f50f40);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

.behind-bg-slider {
  background-color: #8a7576;
  border-radius: 14px;
  padding: .45rem;
  margin: 0 auto;
  width: 22rem;
  -webkit-transition: all 5s;
  transition: all 5s;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, #161313 0px 0px 0px 3px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, #161313 0px 0px 0px 3px;
}

.behind-bg-slider:hover {
  background-color: #e21d24;
}

.behind-bg-slider .card-sliders {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 120px 60px auto;
      grid-template-rows: 1fr 120px 60px auto;
  gap: 0px 0px;
      grid-template-areas: "card-header" "card-desc" "card-slider" "card-buttons";
  width: 100%;
  border: 4px solid #211c1c;
  border-radius: 14px;
  padding: 1rem;
}

.behind-bg-slider .card-sponsor {
  background: no-repeat center url(../img/sponsor-tex.png);
  background-size: cover;
}

.behind-bg-slider .card-sponsor .sponsor-color {
  color: #70c7c4;
}

.behind-bg-slider .card-super-vip {
  background: no-repeat center url(../img/super-tex.png);
  background-size: cover;
}

.behind-bg-slider .card-super-vip .super-color {
  color: #d7d53c;
}

.behind-bg-slider .card-vip {
  background: no-repeat center url(../img/vip-tex.png);
  background-size: cover;
}

.behind-bg-slider .card-vip .vip-color {
  color: #d6d5d1;
}

.behind-bg-slider .card-turbo-drop {
  background: no-repeat center url(../img/turbo-tex.png);
  background-size: cover;
}

.behind-bg-slider .card-cheat-case {
  background: no-repeat center url(../img/cheat-tex.png);
  background-size: cover;
}

.behind-bg-slider .input-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.card-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: card-header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #e6e6e6;
  font-family: 'mc-font';
}

.card-header .card-title {
  font-size: 2rem;
  line-height: 1.25;
  letter-spacing: 1.5px;
  font-weight: lighter;
}

.card-header span {
  font-size: 1.25rem;
  color: #e0e0e0;
}

.card-header img {
  width: 8rem;
  height: 8rem;
  margin: 1rem auto;
}

.card-desc {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: card-desc;
  color: #d6d6d6;
  width: 15rem;
  text-align: left;
  margin: 0 auto;
}

.card-slider {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: card-slider;
  color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-slider .info-slider {
  margin-bottom: .35rem;
  font-size: 18px;
}

.card-slider .input-slider {
  width: 98.5%;
  height: .5rem;
  border-radius: 2px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  opacity: 0.7;
  margin-top: .5rem;
}

.card-slider .input-slider:hover, .card-slider .input-slider:active {
  opacity: 1.0;
}

.card-slider .input-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 25px;
  height: 25px;
  background: white;
  cursor: pointer;
  border-radius: 30px;
}

.card-slider .input-slider-sponsor {
  background-color: #70c7c4;
}

.card-slider .input-slider-super {
  background-color: #d7d53c;
}

.card-slider .input-slider-vip {
  background-color: #d6d5d1;
}

.card-buttons {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: card-buttons;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.card-buttons .card-button {
  border-radius: 2px;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(255, 255, 255, 0.1), 4px 4px 5px 0px rgba(255, 255, 255, 0.1);
          box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(255, 255, 255, 0.1), 4px 4px 5px 0px rgba(255, 255, 255, 0.1);
  outline: none;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  letter-spacing: 0.5px;
  margin: 1rem auto .25rem auto;
}

.card-buttons .input-buttons {
  width: 5.8rem;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f09719), to(#eddf5e));
  background-image: linear-gradient(0deg, #f09719 0%, #eddf5e 100%);
  border-radius: 2px;
  line-height: 42px;
  font-weight: 700;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(255, 255, 255, 0.1), 4px 4px 5px 0px rgba(255, 255, 255, 0.1);
          box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(255, 255, 255, 0.1), 4px 4px 5px 0px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.card-buttons .input-buttons:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffaa33), to(#fff599));
  background-image: linear-gradient(0deg, #ffaa33 0%, #fff599 100%);
}

.card-buttons .mirror-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230;
  perspective: 999999999px;
  background: #f46b45;
  font-weight: 700;
}

.card-buttons .mirror-btn:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.card-buttons .mirror-btn span {
  background: #f46b45;
  background: -webkit-gradient(linear, left bottom, left top, from(#F09819), to(#EDDE5D));
  background: linear-gradient(0deg, #F09819 0%, #EDDE5D 100%);
  display: block;
  position: absolute;
  width: 5.8rem;
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.card-buttons .mirror-btn span:nth-child(1) {
  -webkit-box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
          box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.card-buttons .mirror-btn span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.mirror-btn:hover span:nth-child(1) {
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.mirror-btn:hover span:nth-child(2) {
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #f2f2f2;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

footer .mojang-info {
  margin: 1rem auto;
  color: #c7c7c7;
  width: inherit;
}

footer .footer-text-czit {
  text-align: center;
  color: #e0e0e0;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: 'mc-font';
}

footer .logo-footer {
  width: 10rem;
  height: 10rem;
  margin: 1rem auto 0 auto;
}

footer nav {
  margin: 1rem auto;
  text-align: left;
  color: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer nav ul {
  list-style: disc;
  padding: .5rem;
}

footer nav ul a {
  color: #d1d1d1;
  text-decoration: none;
  font-size: 1.25rem;
}

footer nav ul a:hover {
  color: white;
}

footer a {
  color: #b3b3b3;
  text-decoration: none;
}

@media screen and (min-width: 600px) {
  .navigation-wrapper nav {
    width: 30rem;
  }
  .navigation-wrapper nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .navigation-wrapper nav ul li a {
    font-size: 1.5rem;
  }
  .mojang-info {
    width: 30rem;
    margin: 0 auto;
  }
  .footer-navigation {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    gap: 0px 0px;
        grid-template-areas: "footer-logo-wrapper footer-nav" "footer-text footer-text";
  }
  .footer-logo-wrapper {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: footer-logo-wrapper;
  }
  .footer-nav {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: footer-nav;
  }
  .footer-text {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: footer-text;
    margin: 1rem auto;
  }
}

@media screen and (min-width: 768px) {
  .grid-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto 1fr 1fr;
        grid-template-rows: auto 1fr 1fr;
    gap: 0px 0px;
        grid-template-areas: "grid-title grid-title" "grid-first grid-second" "grid-third grid-third";
  }
  .grid-title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: grid-title;
  }
  .grid-first {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: grid-first;
  }
  .grid-second {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: grid-second;
  }
  .grid-third {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: grid-third;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .grid-wrapper-slider {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto 1fr 1fr 1fr;
        grid-template-rows: auto 1fr 1fr 1fr;
    gap: 0px 0px;
        grid-template-areas: "grid-title-slider grid-title-slider" "grid-first-slider grid-second-slider" "grid-third-slider grid-fourth-slider" "grid-fifth-slider grid-sixth-slider";
  }
  .grid-title-slider {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: grid-title-slider;
  }
  .grid-first-slider {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: grid-first-slider;
  }
  .grid-second-slider {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: grid-second-slider;
  }
  .grid-third-slider {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: grid-third-slider;
  }
  .grid-fourth-slider {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: grid-fourth-slider;
  }
  .grid-fifth-slider {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: grid-fifth-slider;
  }
  .grid-sixth-slider {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: grid-sixth-slider;
  }
  .show-btn {
    top: 85%;
    left: 92%;
  }
  .grid-social {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 0px 0px;
        grid-template-areas: "footer-navigation social";
  }
  .social {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: social;
  }
  .footer-navigation {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: footer-navigation;
  }
}

@media screen and (min-width: 992px) {
  .grid-header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    gap: 0px 0px;
    margin: 0 auto;
        grid-template-areas: "server logo-wrapper discord" "header-text header-text header-text";
  }
  .logo-wrapper {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: logo-wrapper;
  }
  .header-text {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: header-text;
  }
  .discord {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: discord;
  }
  .server {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: server;
  }
  .dis-title,
  .serv-title {
    font-size: 20px;
  }
  .server,
  .discord {
    -webkit-animation: 5s linear infinite alternate logoAnim;
            animation: 5s linear infinite alternate logoAnim;
  }
}

@media screen and (min-width: 1200px) {
  .grid-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto 1fr;
        grid-template-rows: auto 1fr;
    gap: 0px 0px;
        grid-template-areas: "grid-title grid-title grid-title" "grid-first grid-second grid-third";
  }
  .grid-title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: grid-title;
  }
  .grid-first {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: grid-first;
  }
  .grid-second {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: grid-second;
  }
  .grid-third {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: grid-third;
  }
  .grid-wrapper-slider {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto 1fr 1fr;
        grid-template-rows: auto 1fr 1fr;
    gap: 0px 0px;
        grid-template-areas: "grid-title-slider grid-title-slider grid-title-slider" "grid-first-slider grid-second-slider grid-third-slider" "grid-fourth-slider grid-fifth-slider grid-sixth-slider";
  }
  .grid-title-slider {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: grid-title-slider;
  }
  .grid-first-slider {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: grid-first-slider;
  }
  .grid-second-slider {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: grid-second-slider;
  }
  .grid-third-slider {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: grid-third-slider;
  }
  .grid-fourth-slider {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: grid-fourth-slider;
  }
  .grid-fifth-slider {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: grid-fifth-slider;
  }
  .grid-sixth-slider {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: grid-sixth-slider;
  }
  #logo-header {
    width: 16rem;
    height: 16rem;
  }
  .header-text h1 {
    font-size: 64px;
    color: #ebebeb;
  }
  .status > h3 {
    font-size: 18px;
  }
}

@media screen and (min-width: 1400px) {
  .items-wrapper {
    width: 75rem;
  }
  #particles-js canvas {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    z-index: -10;
    display: block;
  }
  .show-btn {
    top: 75%;
    left: 88%;
  }
  button svg {
    width: 180px;
    height: 180px;
  }
  footer {
    width: 75rem;
  }
  footer .logo-footer {
    width: 12.5rem;
    height: 12.5rem;
  }
  footer .footer-text-czit {
    font-size: 3.5rem;
  }
  footer nav ul li {
    font-size: 30px;
  }
  footer nav ul li a {
    font-size: 30px;
  }
}

@media screen and (min-width: 1800px) {
  .show-btn {
    top: 80%;
    left: 82%;
  }
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 14px;
  border: 4px solid #1a1d21;
  box-shadow: inset 0 0 1rem 0 #fff, 0 0 5px 0 #000;
  -moz-box-shadow: inset 0 0 1rem 0 #fff, 0 0 5px 0 #000;
  -webkit-box-shadow: inset 0 0 1rem 0 #fff, 0 0 5px 0 #000;
  -khtml-box-shadow: white inset 0 0 1rem;
  background-color: #bcbfc2;
  height: auto;
  padding: .75rem;
  -webkit-transition: all 1s;
  transition: all 1s;
  font-size: 12px;
  position: fixed;
  top: 4%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 350px;
  color: black;
  z-index: 1000;
}

.modal .modal-close {
  width: 100%;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.modal .modal-close button {
  padding: .5rem;
  position: absolute;
  right: 0px;
  top: 20px;
}

.modal .modal-rule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.modal .modal-rule h3 {
  font-size: 14px;
}

.modal .modal-rule a {
  font-size: 14px;
  color: #8f8f8f;
}

.modal .modal-rule .modal-link {
  padding: .5rem;
  background-color: inherit;
  border: 2px solid grey;
  border-radius: 4px;
}

.modal .modal-info {
  text-align: left;
}

.modal .modal-info .modal-accept {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal .modal-info .modal-accept input {
  width: 28px;
}

.modal .modal-info .modal-accept .modal-accept-p {
  width: 80%;
  margin: 1rem auto;
}

.modal .modal-info .modal-p {
  margin-bottom: 1rem;
}

.modal .modal-info-mojang {
  text-align: left;
  margin-bottom: 1rem;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
}

.modal .modal-info-mojang p {
  padding: 1rem;
}

.modal .modal-nick {
  min-width: 100%;
}

.modal .modal-nick input {
  width: 100%;
  height: 50px;
  padding: .5rem;
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.07);
  margin-bottom: 1rem;
  text-align: center;
}

.modal .modal-btns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modal .modal-btns button {
  padding: .5rem;
  border: none;
  border-radius: 4px;
  margin-left: 8px;
}

.modal .modal-btns .modal-cancel {
  background: none;
}

.modal .modal-btns .modal-buy {
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  background: -webkit-gradient(linear, left bottom, left top, from(#F09819), to(#EDDE5D));
  background: linear-gradient(0deg, #F09819 0%, #EDDE5D 100%);
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  z-index: 100;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/*# sourceMappingURL=index.css.map */