* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Ubuntu', sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
}

#particles-js canvas {
  position: absolute;
  z-index: -5;
  top: 0;
  max-width: 67%;
}

@font-face {
  font-family: "mc-font";
  src: url(../fonts/minecraft-webfont.woff) format("woff"), url(../fonts/minecraft-webfont.woff2) format("woff");
}

@-webkit-keyframes logoAnim {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

@keyframes logoAnim {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

@-webkit-keyframes greenPulse {
  0% {
    background-color: #759c02;
    -webkit-box-shadow: 0 0 9px #00cc00;
  }
  50% {
    background-color: #91be09;
    -webkit-box-shadow: 0 0 18px #91be09;
  }
  100% {
    background-color: #759c02;
    -webkit-box-shadow: 0 0 9px #00cc00;
  }
}

@keyframes greenPulse {
  0% {
    background-color: #759c02;
    -webkit-box-shadow: 0 0 9px #00cc00;
  }
  50% {
    background-color: #91be09;
    -webkit-box-shadow: 0 0 18px #91be09;
  }
  100% {
    background-color: #759c02;
    -webkit-box-shadow: 0 0 9px #00cc00;
  }
}

.page-wrapper {
  position: relative;
  background-image: url("../img/bg-sklep.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: auto;
  height: 100%;
  padding: 1rem;
}

.logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo-wrapper #logo-img {
  width: 10rem;
  height: 10rem;
  margin: 1rem auto 0 auto;
  -webkit-animation: 5s linear infinite alternate logoAnim;
          animation: 5s linear infinite alternate logoAnim;
}

.header-text {
  text-align: center;
  color: #f2f2f2;
  font-size: 22px;
}

.status {
  /* COLOR STATUS ONLINE
  color: rgba(140, 213, 41, 0.7);
  */
  /* COLOR STATUS OFFLINE
  color: rgba(252, 146, 0, 0.7);
  */
  text-align: center;
  margin: 1rem auto;
}

.status.online {
  color: rgba(142, 214, 41, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.status .pulse {
  width: 10px;
  height: 10px;
  border-radius: 30px;
}

.status .pulse.green-light {
  -webkit-animation: 2s linear infinite greenPulse;
          animation: 2s linear infinite greenPulse;
  border: 6px solid rgba(142, 214, 41, 0.884);
}

.navigation-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1rem auto;
}

.navigation-wrapper nav {
  width: 24rem;
}

.navigation-wrapper nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 -4px rgba(255, 255, 255, 0.6), 0 -8px black, 4px 0 rgba(255, 255, 255, 0.6), 4px -4px black, 8px 0 black, 0 4px rgba(255, 255, 255, 0.6), 0 8px black, -4px 0 rgba(255, 255, 255, 0.6), -4px 4px black, -8px 0 black, -4px -4px black, 4px 4px black;
          box-shadow: 0 -4px rgba(255, 255, 255, 0.6), 0 -8px black, 4px 0 rgba(255, 255, 255, 0.6), 4px -4px black, 8px 0 black, 0 4px rgba(255, 255, 255, 0.6), 0 8px black, -4px 0 rgba(255, 255, 255, 0.6), -4px 4px black, -8px 0 black, -4px -4px black, 4px 4px black;
  background-image: url(../img/nav.png);
  background-size: contain;
  padding: .75rem;
  -webkit-filter: grayscale(25%);
          filter: grayscale(25%);
}

.navigation-wrapper nav ul li {
  list-style: none;
}

.navigation-wrapper nav ul li a {
  color: #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-size: 1.25rem;
}

.navigation-wrapper nav ul li a:hover {
  color: #fff;
}

.navigation-wrapper nav ul li a .logo-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: .25rem;
}

.back-to-top {
  display: none;
}

.cards-wrapper {
  margin: 2rem auto;
}

.items-wrapper {
  width: 100%;
  margin: 2rem auto;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 -4px rgba(255, 255, 255, 0.6), 0 -8px black, 4px 0 rgba(255, 255, 255, 0.6), 4px -4px black, 8px 0 black, 0 4px rgba(255, 255, 255, 0.6), 0 8px black, -4px 0 rgba(255, 255, 255, 0.6), -4px 4px black, -8px 0 black, -4px -4px black, 4px 4px black;
          box-shadow: 0 -4px rgba(255, 255, 255, 0.6), 0 -8px black, 4px 0 rgba(255, 255, 255, 0.6), 4px -4px black, 8px 0 black, 0 4px rgba(255, 255, 255, 0.6), 0 8px black, -4px 0 rgba(255, 255, 255, 0.6), -4px 4px black, -8px 0 black, -4px -4px black, 4px 4px black;
  padding: .5rem;
}

.items-wrapper .items-title {
  font-size: 48px;
  color: white;
  text-align: center;
  margin: .75rem auto;
}

.item-container {
  margin: 1rem auto;
  width: 100%;
}

.behind-cards-bg {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#757b81), to(#a1a5aa));
  background-image: linear-gradient(180deg, #757b81, #a1a5aa);
  border-radius: 14px;
  padding: .6rem;
  margin: 0 auto;
  width: 22rem;
}

.behind-cards-bg .card {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 120px auto;
      grid-template-rows: 1fr 120px auto;
  gap: 0px 0px;
      grid-template-areas: "card-header" "card-desc" "card-buttons";
  width: 100%;
  border: 4px solid #1b1e22;
  border-radius: 14px;
  padding: 1rem;
}

.behind-cards-bg .card-miecz {
  background: no-repeat center url(../img/miecz-tex.png);
  background-size: cover;
}

.behind-cards-bg .card-luk {
  background: no-repeat center url(../img/luk-tex.png);
  background-size: cover;
}

.behind-cards-bg .card-kilof {
  background: no-repeat center url(../img/kilof-tex.png);
  background-size: cover;
}

.behind-cards-bg .card-unban {
  background: no-repeat center url(../img/unban-tex.png);
  background-size: cover;
}

.behind-cards-bg .card-colorful {
  background: no-repeat center url(../img/colorful-tex.png);
  background-size: cover;
}

.behind-cards-bg .card-colorful .colorful {
  background-image: -webkit-gradient(linear, left top, right top, from(violet), color-stop(indigo), color-stop(rgba(0, 68, 255, 0.979)), color-stop(green), color-stop(yellow), color-stop(orange), to(red));
  background-image: linear-gradient(to right, violet, indigo, rgba(0, 68, 255, 0.979), green, yellow, orange, red);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

.behind-cards-bg .card-green {
  background: no-repeat center url(../img/green-tex.png);
  background-size: cover;
}

.behind-cards-bg .card-green .green {
  background-image: -webkit-gradient(linear, right top, left top, from(lime), color-stop(#3de63d), color-stop(rgba(0, 224, 30, 0.5)), to(#00ff6a));
  background-image: linear-gradient(to left, lime, #3de63d, rgba(0, 224, 30, 0.5), #00ff6a);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

.behind-cards-bg .card-pink {
  background: no-repeat center url(../img/pink-tex.png);
  background-size: cover;
}

.behind-cards-bg .card-pink .pink {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f011b8), to(#f50f40));
  background-image: linear-gradient(to bottom, #f011b8, #f50f40);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

.behind-cards-bg-slider {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#757b81), to(#a1a5aa));
  background-image: linear-gradient(180deg, #757b81, #a1a5aa);
  border-radius: 14px;
  padding: .6rem;
  margin: 0 auto;
  width: 22rem;
}

.behind-cards-bg-slider .card-sliders {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 120px 60px auto;
      grid-template-rows: 1fr 120px 60px auto;
  gap: 0px 0px;
      grid-template-areas: "card-header" "card-desc" "card-slider" "card-buttons";
  width: 100%;
  border: 4px solid #1b1e22;
  border-radius: 14px;
  padding: 1rem;
}

.behind-cards-bg-slider .card-sponsor {
  background: no-repeat center url(../img/sponsor-tex.png);
  background-size: cover;
}

.behind-cards-bg-slider .card-super-vip {
  background: no-repeat center url(../img/super-tex.png);
  background-size: cover;
}

.behind-cards-bg-slider .card-vip {
  background: no-repeat center url(../img/vip-tex.png);
  background-size: cover;
}

.behind-cards-bg-slider .card-turbo-drop {
  background: no-repeat center url(../img/turbo-tex.png);
  background-size: cover;
}

.behind-cards-bg-slider .card-cheat-case {
  background: no-repeat center url(../img/cheat-tex.png);
  background-size: cover;
}

.card-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: card-header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #f2f2f2;
  font-family: 'mc-font';
}

.card-header .card-title {
  font-size: 2rem;
  line-height: 1.25;
  letter-spacing: 1.5px;
  font-weight: lighter;
}

.card-header .card-title-colorful {
  font-size: 1.75rem;
}

.card-header span {
  font-size: 1.25rem;
}

.card-header img {
  width: 8rem;
  height: 8rem;
  margin: 1rem auto;
}

.card-desc {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: card-desc;
  color: #ebebeb;
  width: 14rem;
  text-align: left;
  margin: 0 auto;
}

.card-slider {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: card-slider;
  color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-slider .info-slider {
  margin-bottom: .35rem;
}

.card-slider .input-slider {
  width: 100%;
}

.card-buttons {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: card-buttons;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.card-buttons .card-button {
  border-radius: 2px;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(255, 255, 255, 0.1), 4px 4px 5px 0px rgba(255, 255, 255, 0.1);
          box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(255, 255, 255, 0.1), 4px 4px 5px 0px rgba(255, 255, 255, 0.1);
  outline: none;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  letter-spacing: 0.5px;
  margin: 1rem auto .25rem auto;
}

.card-buttons .mirror-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230;
  perspective: 999999999px;
  background: #f46b45;
  width: 50px;
}

.card-buttons .mirror-btn:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.card-buttons .mirror-btn span {
  background: #f46b45;
  background: -webkit-gradient(linear, left bottom, left top, from(#F09819), to(#EDDE5D));
  background: linear-gradient(0deg, #F09819 0%, #EDDE5D 100%);
  display: block;
  position: absolute;
  width: 6.4rem;
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.card-buttons .mirror-btn span:nth-child(1) {
  -webkit-box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
          box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.card-buttons .mirror-btn span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.mirror-btn:hover span:nth-child(1) {
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.mirror-btn:hover span:nth-child(2) {
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
/*# sourceMappingURL=index.css.map */