* {
  box-sizing: border-box;
  padding: 0; margin: 0
}

html {
  font-family: 'Ubuntu', sans-serif;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "mc-font";
  src: url(../fonts/minecraft-webfont.woff) format("woff"),
  url(../fonts/minecraft-webfont.woff2) format("woff");
}

#particles-js canvas{
  display: none;
}

body {
  width: 100%; height: 100%; 
  position: relative;
}



///////////////////// SCSS //////////////////////////

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

$black: hsl(0, 0%, 0%);
$white: hsla(0, 0%, 100%, 0.6);
$shadow: hsla(0, 0%, 0%, 0.1);
$px: 4px;
$bubble-border: 0 -1*$px $white, 
		0 -2*$px $black, 
		$px 0 $white, 
		$px -1*$px $black, 
		2*$px 0 $black, 
		0 $px $white, 
		0 2*$px $black, 
		-1*$px 0 $white, 
		-1*$px  $px $black, 
		-2*$px 0 $black, 
		-1*$px -1*$px $black, 
		$px $px $black;

///////////////////// ANIMATIONS //////////////////////////

@keyframes logoAnim {
  0% {transform: translateY(0);}
  100% {transform: translateY(25px);}
}


@keyframes backToTopAnim {
  0% {transform: translateY(25px);}
  100% {transform: translateY(0);}
}

@keyframes greenPulse {
  0% {
    background-color: hsl(75, 97%, 31%);
    -webkit-box-shadow: 0 0 9px hsl(120, 100%, 40%);
  }
  50% {
    background-color: hsl(75, 91%, 39%);
    -webkit-box-shadow: 0 0 18px hsl(75, 91%, 39%);
  }
  100% {
    background-color: hsl(75, 97%, 31%);
    -webkit-box-shadow: 0 0 9px hsl(120, 100%, 40%);
  }
}

///////////////////// BODY //////////////////////////

.page-wrapper {
  position: relative;
  background-image: url("../img/bg-sklep.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: auto; height: 100%;
  padding: 1rem;
  z-index: 50;
}

.the-header {
  @include flex-center();
  flex-direction: column;
}

.logo-wrapper {
  @include flex-center();
  flex-direction: column;
  animation: 5s linear infinite alternate logoAnim;
  
  .logo-header {
    width: 12rem; height: 12rem;
    margin: 1rem auto 0 auto; 
  }
}

.header-text {
  text-align: center;
  color: hsl(0, 0%, 95%);
  font-size: 22px;
  font-family: 'mc-font';
  margin: 1rem auto;
}

.server,
.discord {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 16rem;
  margin: 0 auto;

  .dis-title,
  .serv-title {
    font-weight: 700;
    color: hsl(0, 0%, 95%);
    color: #e11d25;
    letter-spacing: 1px;
  }

  .join-server-dis {
    font-size: 10px;
    text-align: right;
    font-weight: 700;
    text-transform: uppercase;
    color: hsl(0, 0%, 90%);
  }

  .join-server-serv {
    font-size: 10px;
    text-align: left;
    font-weight: 700;
    text-transform: uppercase;
    color: hsl(0, 0%, 90%);
  }
}

.discord-links {
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  a {
    text-decoration: none;
  }
}

.server-links {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  a {
    text-decoration: none;
  }
}

.server-img {
  width: 4rem; height: 4rem;
}

.status {
  /* COLOR STATUS ONLINE
  color: rgba(140, 213, 41, 0.7);
  */
  /* COLOR STATUS OFFLINE
  color: rgba(252, 146, 0, 0.7);
  */
  text-align: center;
  margin: 1rem auto;

  &.online {
    color: hsla(85, 68%, 50%, 1);
    @include flex-center();
  }

  .pulse {
    width: 10px; height: 10px;
    border-radius: 30px;

    &.green-light {
      animation: 2s linear infinite greenPulse;
      border: 6px solid hsla(85, 68%, 50%, 0.884);
    }
  }

  h3 {
    font-size: 14px;
  }
}

.navigation-wrapper {
  @include flex-center();
  flex-wrap: wrap;
  margin: 1rem auto;
  width: 100%;
  max-width: 100%;

  nav {
    width: 24rem;
    max-width: 100%;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: $bubble-border;
      background-image: url(../img/nav.png);
      background-size: contain;
      padding: .75rem;
      filter: grayscale(25%);

      li {
        list-style: none;

        a {
          color: hsl(0, 0%, 92%);
          @include flex-center();
          text-decoration: none;
          font-size: 1.25rem;

          &:hover {
            color: #fff;
          } 
        }
      }
    }
  }
}

///////////////////// IntersectionObserver //////////////////////////

.none {
  display: none;
}

.block {
  display: block;
}

.opacity-zero {
  opacity: 0;
}

.opacity-one {
  opacity: 1;
  transition: all 1.5s;
}

.intersection-anim {
  opacity: 0;
}

@keyframes interAnim {
  from{
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

///////////////////// Back to top Btn //////////////////////////

.show-btn {
  display: block;
  position: fixed;
  top: 85%; left: 82%;
}

.back-to-top {
  padding: .5rem;
  z-index: 100;
  background-color: hsl(0, 0%, 92%);
  border: none;
  border-radius: 2px;
  animation: 2s linear infinite alternate backToTopAnim;
  cursor: pointer;
}

button svg {
  transform: rotate(270deg);
}

///////////////////// MAIN //////////////////////////

.ranks-wrapper {
  margin: 2rem auto;
  z-index: 50;
}

.items-wrapper {
  width: 100%;
  margin: 2rem auto;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: $bubble-border;
  padding: .5rem;

  .wrapper-title {
    font-size: 48px;
    color: hsl(0, 0%, 92%);
    text-align: center;
    margin: .75rem auto;
  }

  .items-title {
    font-size: 48px;
    color: hsl(0, 0%, 95%);
    text-align: center;
    margin: .75rem auto;
  }

  .item-container {
    margin: 1rem auto;
    width: 100%;
  }
}

.behind-bg {
  background-color: hsl(0, 0%, 95%);
  border-radius: 14px;
  padding: .45rem;
  margin: 0 auto;
  width: 22rem;
  max-width: 100%;
  transition: all 2.5s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, hsl(0, 8%, 8%) 0px 0px 0px 3px;

  .rank {
    @include flex-center();
    flex-direction: column;
    border-radius: 14px;  
    border: 4px solid #1a1d21;
    box-shadow: inset 0 0 1rem 0 #fff, 0 0 5px 0 #000;
    -moz-box-shadow: inset 0 0 1rem 0 #fff, 0 0 5px 0 #000;
    -webkit-box-shadow: inset 0 0 1rem 0 #fff, 0 0 5px 0 #000;
    -khtml-box-shadow: rgb(255, 255, 255) inset 0 0 1rem;
    background-color: #dddddd;
    height: auto;
    width: 100%; 
    max-width: auto;
    padding: 1rem;    

    .rank-title {
      font-size: 2rem;
      line-height: 1.25;
      letter-spacing: 1.5px;
      font-weight: lighter;
      font-family: 'mc-font';
      text-align: center;
      margin: 1rem auto;
    }

    .gold-place,
    .silver-place,
    .bronze-place {
      @include flex-center();
      flex-direction: column;
      margin: 1rem auto;
      color: #373737;

      .crown-img {
        width: 3.5rem; height: 2.5rem;
      }
    }

    .crown-img {
      width: 3.5rem; height: 2.5rem;
    }
  }

  .rank-button {
    width: 80%;
    border-radius: 8px;
    padding: 0.75rem;
    margin: 1rem auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: hsl(37, 27%, 88%);
    background-color: #373737;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    transition: all .25s;
    color: #e7e7e7;

    &:hover {
      background-color: #101010;
      color: #f1f1f1;
    }
  }
}

.player-list {
  width: 85%;
  padding: .25rem;
  transition: all 1s;

  table {
    display: flex;

    tbody {
      width: 100%;
    }

    tr {
      color: #373737;
      width: inherit;
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-bottom: 2px solid hsl(0, 0%, 66%);
      padding: .5rem;
      font-size: 1rem;

      .crown-column {
        @include flex-center();
        flex-direction: column;
      }
    }
  }
}


///////////////////// FOOTER //////////////////////////

footer {

  @include flex-center();
  flex-direction: column;
  color: hsl(0, 0%, 95%);
  text-align: center;
  width: 80%;
  margin: 0 auto;

  .mojang-info {
    margin: 1rem auto;
    color: hsl(0, 0%, 78%);
    width: inherit;
  }

  .footer-text-czit {
    text-align: center;
    color: hsl(0, 0%, 88%);
    font-size: 2rem;
    margin-bottom: 2rem;
    font-family: 'mc-font';
  }

  .logo-footer {
    width: 10rem; height: 10rem;
    margin: 1rem auto 0 auto;
  }

  nav {
    margin: 1rem auto;
    text-align: left;
    color: hsl(0, 0%, 92%);
    @include flex-center();

    ul {
      list-style: disc;
      padding: .5rem;

      a {
        color: hsl(0, 0%, 82%);
        text-decoration: none;
        font-size: 1.25rem;

        &:hover {
          color: hsl(0, 0%, 100%);
        }
      }
    }
  }

  a {
    color: hsl(0, 0%, 70%);
    text-decoration: none;
  }
}

@media screen and (min-width: 600px) {

  .rule {
    padding: 2rem;
  }
  
  .navigation-wrapper nav {
    width: 30rem;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-around;

      li {
        a {
          font-size: 1.5rem;
        }
      }
    }
  }

  .mojang-info {
    width: 30rem; 
    margin: 0 auto;
  }

  .footer-navigation {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto; 
    gap: 0px 0px; 
    grid-template-areas: 
    "footer-logo-wrapper footer-nav"
    "footer-text footer-text";
  }
  .footer-logo-wrapper { grid-area: footer-logo-wrapper; }
  .footer-nav { grid-area: footer-nav; }
  .footer-text { grid-area: footer-text; margin: 1rem auto; }
}

@media screen and (min-width: 768px) {
  .show-btn {
    top: 85%; left: 92%;
  }

  .grid-social {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "footer-navigation social"; 
  }
  .social { grid-area: social; }
  .footer-navigation { 
    grid-area: footer-navigation; 
  }
}

@media screen and (min-width: 992px) {

  .crown-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .crown-wrapper-grid {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "silver-place gold-place bronze-place"; 

    .silver-place { grid-area: silver-place; }
    .gold-place { grid-area: gold-place; padding-bottom: 4rem; }
    .bronze-place { grid-area: bronze-place; }
  }

  .behind-bg {
    width: 30rem;
  }

  .grid-header {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: auto auto; 
    gap: 0px 0px;
    margin: 0 auto;
    grid-template-areas: 
    "server logo-wrapper discord"
    "header-text header-text header-text"; 
  }
  .logo-wrapper { grid-area: logo-wrapper; }
  .header-text { grid-area: header-text; }
  .discord { grid-area: discord;  }
  .server { grid-area: server;  }

  .dis-title,
  .serv-title {
    font-size: 20px;
  }

  .grid-wrapper {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto auto auto auto auto auto; 
    gap: 0px 0px; 
    grid-template-areas: 
      "grid-title grid-title"
      "grid-first grid-second"
      "grid-third grid-fourth"
      "grid-fifth grif-sixth"
      "grid-seventh grid-eighth"
      "grid-ninth grid-tenth"
      "grid-eleventh grid-twelfth"; 
  }
    .grid-title { grid-area: grid-title; }
    .grid-first { grid-area: grid-first; }
    .grid-second { grid-area: grid-second; }
    .grid-third { grid-area: grid-third; }
    .grid-fourth { grid-area: grid-fourth; }
    .grid-fifth { grid-area: grid-fifth; }
    .grif-sixth { grid-area: grif-sixth; }
    .grid-seventh { grid-area: grid-seventh; }
    .grid-eighth { grid-area: grid-eighth; }
    .grid-ninth { grid-area: grid-ninth; }
    .grid-tenth { grid-area: grid-tenth; }
    .grid-eleventh { grid-area: grid-eleventh; }
    .grid-twelfth { grid-area: grid-twelfth; }

  .server,
  .discord {
    animation: 5s linear infinite alternate logoAnim;
  }

  .behind-bg .rank .rank-title {
    font-size: 2.25rem;
  }

  .crown-wrapper {
    font-size: 20px;
  }

  .player-list {
    table {
      
      tr {
        font-size: 20px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  
  #logo-header {
    width: 16rem; height: 16rem;
  }

  .header-text h1 {
    font-size: 82px;
    color: hsl(0, 0%, 92%);
  }

  .status > h3 {
    font-size: 18px;
  }

  .behind-bg {
    width: 34rem;
  }

  
}

@media screen and (min-width: 1400px) {
  .items-wrapper {
    width: 75rem;
  }

  #particles-js canvas{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    z-index: -10;
    display: block;
  }

  .show-btn {
    top: 75%; left: 93%;
  }

  button svg {
    width: 75px; 
    height: 75px;
  }

  footer {
    width: 75rem;

    .logo-footer {
      width: 12.5rem; height: 12.5rem;
    }

    .footer-text-czit {
      font-size: 3.5rem;
    }

    nav {
      ul {
        li {
          font-size: 30px;

          a {
            font-size: 30px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1800px) {
  .show-btn {
    top: 80%; left: 86%;
  }
}

.hide {
  display: none;
}

