* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Ubuntu', sans-serif;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "mc-font";
  src: url(../fonts/minecraft-webfont.woff) format("woff"), url(../fonts/minecraft-webfont.woff2) format("woff");
}

@-webkit-keyframes logoAnim {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

@keyframes logoAnim {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

@-webkit-keyframes greenPulse {
  0% {
    background-color: #759c02;
    -webkit-box-shadow: 0 0 9px #00cc00;
  }
  50% {
    background-color: #91be09;
    -webkit-box-shadow: 0 0 18px #91be09;
  }
  100% {
    background-color: #759c02;
    -webkit-box-shadow: 0 0 9px #00cc00;
  }
}

@keyframes greenPulse {
  0% {
    background-color: #759c02;
    -webkit-box-shadow: 0 0 9px #00cc00;
  }
  50% {
    background-color: #91be09;
    -webkit-box-shadow: 0 0 18px #91be09;
  }
  100% {
    background-color: #759c02;
    -webkit-box-shadow: 0 0 9px #00cc00;
  }
}

.page-wrapper {
  position: relative;
  background-image: url("../img/bg-sklep.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: auto;
  height: 100%;
  padding: 1rem;
}

.the-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo-wrapper .logo-header {
  width: 12rem;
  height: 12rem;
  margin: 1rem auto 0 auto;
  -webkit-animation: 5s linear infinite alternate logoAnim;
          animation: 5s linear infinite alternate logoAnim;
}

.header-text {
  text-align: center;
  color: #f2f2f2;
  font-size: 22px;
}

.server,
.discord {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 16rem;
  margin: 0 auto;
}

.server .dis-title,
.server .serv-title,
.discord .dis-title,
.discord .serv-title {
  font-weight: 700;
  color: #f2f2f2;
  color: #e11d25;
  letter-spacing: 1px;
}

.server .join-server-dis,
.discord .join-server-dis {
  font-size: 10px;
  text-align: right;
  font-weight: 700;
  text-transform: uppercase;
  color: #e6e6e6;
}

.server .join-server-serv,
.discord .join-server-serv {
  font-size: 10px;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
  color: #e6e6e6;
}

.server-img {
  width: 4rem;
  height: 4rem;
}

.status {
  /* COLOR STATUS ONLINE
  color: rgba(140, 213, 41, 0.7);
  */
  /* COLOR STATUS OFFLINE
  color: rgba(252, 146, 0, 0.7);
  */
  text-align: center;
  margin: 1rem auto;
}

.status.online {
  color: #8ed629;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.status .pulse {
  width: 10px;
  height: 10px;
  border-radius: 30px;
}

.status .pulse.green-light {
  -webkit-animation: 2s linear infinite greenPulse;
          animation: 2s linear infinite greenPulse;
  border: 6px solid rgba(142, 214, 41, 0.884);
}

.status h3 {
  font-size: 14px;
}

.navigation-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1rem auto;
}

.navigation-wrapper nav {
  width: 24rem;
}

.navigation-wrapper nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 -4px rgba(255, 255, 255, 0.6), 0 -8px black, 4px 0 rgba(255, 255, 255, 0.6), 4px -4px black, 8px 0 black, 0 4px rgba(255, 255, 255, 0.6), 0 8px black, -4px 0 rgba(255, 255, 255, 0.6), -4px 4px black, -8px 0 black, -4px -4px black, 4px 4px black;
          box-shadow: 0 -4px rgba(255, 255, 255, 0.6), 0 -8px black, 4px 0 rgba(255, 255, 255, 0.6), 4px -4px black, 8px 0 black, 0 4px rgba(255, 255, 255, 0.6), 0 8px black, -4px 0 rgba(255, 255, 255, 0.6), -4px 4px black, -8px 0 black, -4px -4px black, 4px 4px black;
  background-image: url(../img/nav.png);
  background-size: contain;
  padding: .75rem;
  -webkit-filter: grayscale(25%);
          filter: grayscale(25%);
}

.navigation-wrapper nav ul li {
  list-style: none;
}

.navigation-wrapper nav ul li a {
  color: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-size: 1.25rem;
}

.navigation-wrapper nav ul li a:hover {
  color: #fff;
}

.back-to-top {
  display: none;
}

.ranks-wrapper {
  margin: 2rem auto;
}

.items-wrapper {
  width: 100%;
  margin: 2rem auto;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 -4px rgba(255, 255, 255, 0.6), 0 -8px black, 4px 0 rgba(255, 255, 255, 0.6), 4px -4px black, 8px 0 black, 0 4px rgba(255, 255, 255, 0.6), 0 8px black, -4px 0 rgba(255, 255, 255, 0.6), -4px 4px black, -8px 0 black, -4px -4px black, 4px 4px black;
          box-shadow: 0 -4px rgba(255, 255, 255, 0.6), 0 -8px black, 4px 0 rgba(255, 255, 255, 0.6), 4px -4px black, 8px 0 black, 0 4px rgba(255, 255, 255, 0.6), 0 8px black, -4px 0 rgba(255, 255, 255, 0.6), -4px 4px black, -8px 0 black, -4px -4px black, 4px 4px black;
  padding: .5rem;
}

.items-wrapper .wrapper-title {
  font-size: 48px;
  color: white;
  text-align: center;
  margin: 0.75rem auto;
}

.items-wrapper .items-title {
  font-size: 48px;
  color: #f2f2f2;
  text-align: center;
  margin: .75rem auto;
}

.items-wrapper .item-container {
  margin: 1rem auto;
  width: 100%;
}

.behind-bg {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#757b81), to(#a1a5aa));
  background-image: linear-gradient(180deg, #757b81, #a1a5aa);
  border-radius: 14px;
  padding: .6rem;
  margin: 0 auto;
  width: 22rem;
}

.behind-bg .rank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 14px;
  border: 4px solid #1a1d21;
  box-shadow: inset 0 0 1rem 0 #fff, 0 0 5px 0 #000;
  -moz-box-shadow: inset 0 0 1rem 0 #fff, 0 0 5px 0 #000;
  -webkit-box-shadow: inset 0 0 1rem 0 #fff, 0 0 5px 0 #000;
  -khtml-box-shadow: white inset 0 0 1rem;
  background-color: #bcbfc2;
  height: auto;
  padding: 20px;
}

.behind-bg .rank .rank-title {
  font-size: 2rem;
  line-height: 1.25;
  letter-spacing: 1.5px;
  font-weight: lighter;
  font-family: 'mc-font';
  text-align: center;
}

.behind-bg .rank .gold-place,
.behind-bg .rank .silver-place,
.behind-bg .rank .bronze-place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem auto;
}

.behind-bg .rank .gold-place .crown-img,
.behind-bg .rank .silver-place .crown-img,
.behind-bg .rank .bronze-place .crown-img {
  width: 5rem;
  height: 3.5rem;
}

.behind-bg .rank-button {
  width: 80%;
  border-radius: 8px;
  padding: 0.75rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e9e3d9;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #f2f2f2;
  text-align: center;
}

footer .payment-methods {
  font-size: 22px;
}

footer .psc {
  width: 100%;
  height: 10rem;
}

footer .sms {
  width: 8rem;
  height: 8rem;
}

footer .payment-server-info {
  margin: 1rem auto;
}

footer .logo-footer {
  width: 10rem;
  height: 10rem;
  margin: 1rem auto 0 auto;
}

footer nav {
  margin: 1rem auto;
  text-align: left;
}

footer nav ul {
  list-style: disc;
  padding: .5rem;
}

footer nav ul a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 1.25rem;
}

footer a {
  color: #b3b3b3;
  text-decoration: none;
}

@media screen and (min-width: 600px) {
  .navigation-wrapper nav {
    width: 30rem;
  }
  .navigation-wrapper nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .navigation-wrapper nav ul li a {
    font-size: 1.5rem;
  }
  .payment-server-info {
    width: 30rem;
    margin: 0 auto;
  }
  .footer-navigation {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 0px 0px;
    margin: 1rem auto;
    width: 28rem;
        grid-template-areas: "footer-logo-wrapper footer-nav";
  }
  .footer-logo-wrapper {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: footer-logo-wrapper;
  }
  .footer-nav {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: footer-nav;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 24px;
  }
  .footer-nav a {
    font-size: 24px;
  }
}

@media screen and (min-width: 992px) {
  .grid-social {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "footer-navigation social";
    margin: 1rem auto;
  }
  .footer-navigation {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: footer-navigation;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-navigation a {
    font-size: 30px;
  }
  .social {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: social;
  }
  footer .payment-methods {
    font-size: 28px;
  }
  footer.items-wrapper {
    padding: 2rem;
  }
  .grid-header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    gap: 0px 0px;
    margin: 0 auto;
        grid-template-areas: "server logo-wrapper discord" "header-text header-text header-text";
  }
  .logo-wrapper {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: logo-wrapper;
  }
  .header-text {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: header-text;
  }
  .discord {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: discord;
  }
  .server {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: server;
  }
  .dis-title,
  .serv-title {
    font-size: 20px;
  }
  .grid-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
        grid-template-areas: "grid-title grid-title" "grid-first grid-second" "grid-third grid-fourth" "grid-fifth grif-sixth" "grid-seventh grid-eighth" "grid-ninth grid-tenth" "grid-eleventh grid-twelfth";
  }
  .grid-title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: grid-title;
  }
  .grid-first {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: grid-first;
  }
  .grid-second {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: grid-second;
  }
  .grid-third {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: grid-third;
  }
  .grid-fourth {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: grid-fourth;
  }
  .grid-fifth {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: grid-fifth;
  }
  .grif-sixth {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: grif-sixth;
  }
  .grid-seventh {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: grid-seventh;
  }
  .grid-eighth {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
    grid-area: grid-eighth;
  }
  .grid-ninth {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: grid-ninth;
  }
  .grid-tenth {
    -ms-grid-row: 6;
    -ms-grid-column: 2;
    grid-area: grid-tenth;
  }
  .grid-eleventh {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: grid-eleventh;
  }
  .grid-twelfth {
    -ms-grid-row: 7;
    -ms-grid-column: 2;
    grid-area: grid-twelfth;
  }
}

@media screen and (min-width: 1200px) {
  #logo-header {
    width: 16rem;
    height: 16rem;
  }
  .header-text h1 {
    font-size: 64px;
    color: #ebebeb;
  }
  footer .psc {
    width: auto;
  }
  .status > h3 {
    font-size: 18px;
  }
  .grid-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto 1fr 1fr 1fr 1fr;
        grid-template-rows: auto 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
        grid-template-areas: "grid-title grid-title grid-title" "grid-first grid-second grid-third" "grid-fourth grid-fifth grid-sixth" "grid-seventh grid-eighth grid-ninth" "grid-tenth grid-eleventh grid-twelfth";
  }
  .grid-title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: grid-title;
  }
  .grid-first {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: grid-first;
  }
  .grid-second {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: grid-second;
  }
  .grid-third {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: grid-third;
  }
  .grid-fourth {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: grid-fourth;
  }
  .grid-fifth {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: grid-fifth;
  }
  .grif-sixth {
    grid-area: grif-sixth;
  }
  .grid-seventh {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: grid-seventh;
  }
  .grid-eighth {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: grid-eighth;
  }
  .grid-ninth {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
    grid-area: grid-ninth;
  }
  .grid-tenth {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: grid-tenth;
  }
  .grid-eleventh {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
    grid-area: grid-eleventh;
  }
  .grid-twelfth {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
    grid-area: grid-twelfth;
  }
}

@media screen and (min-width: 1400px) {
  .items-wrapper {
    width: 75rem;
  }
}
/*# sourceMappingURL=ranking.css.map */