* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Ubuntu', sans-serif;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "mc-font";
  src: url(../fonts/minecraft-webfont.woff) format("woff"), url(../fonts/minecraft-webfont.woff2) format("woff");
}

@-webkit-keyframes logoAnim {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
}

@keyframes logoAnim {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
}

@-webkit-keyframes backToTopAnim {
  0% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes backToTopAnim {
  0% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes greenPulse {
  0% {
    background-color: #759c02;
    -webkit-box-shadow: 0 0 9px #00cc00;
  }
  50% {
    background-color: #91be09;
    -webkit-box-shadow: 0 0 18px #91be09;
  }
  100% {
    background-color: #759c02;
    -webkit-box-shadow: 0 0 9px #00cc00;
  }
}

@keyframes greenPulse {
  0% {
    background-color: #759c02;
    -webkit-box-shadow: 0 0 9px #00cc00;
  }
  50% {
    background-color: #91be09;
    -webkit-box-shadow: 0 0 18px #91be09;
  }
  100% {
    background-color: #759c02;
    -webkit-box-shadow: 0 0 9px #00cc00;
  }
}

.page-wrapper {
  position: relative;
  background-image: url("../img/bg-sklep.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: auto;
  height: 100%;
  padding: 1rem;
}

.the-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: 5s linear infinite alternate logoAnim;
          animation: 5s linear infinite alternate logoAnim;
}

.logo-wrapper .logo-header {
  width: 12rem;
  height: 12rem;
  margin: 1rem auto 0 auto;
}

.header-text {
  text-align: center;
  color: #f2f2f2;
  font-size: 22px;
  font-family: 'mc-font';
  margin: 1rem auto;
}

.server,
.discord {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 13rem;
  margin: 0 auto;
}

.server .dis-title,
.server .serv-title,
.discord .dis-title,
.discord .serv-title {
  font-weight: 700;
  color: #f2f2f2;
  color: #e11d25;
  letter-spacing: 1px;
}

.server .join-server-dis,
.discord .join-server-dis {
  font-size: 10px;
  text-align: right;
  font-weight: 700;
  text-transform: uppercase;
  color: #e6e6e6;
}

.server .join-server-serv,
.discord .join-server-serv {
  font-size: 10px;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
  color: #e6e6e6;
}

.discord-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.discord-links a {
  text-decoration: none;
}

.server-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.server-links a {
  text-decoration: none;
}

.server-img {
  width: 4rem;
  height: 4rem;
}

.status {
  /* COLOR STATUS ONLINE
  color: rgba(140, 213, 41, 0.7);
  */
  /* COLOR STATUS OFFLINE
  color: rgba(252, 146, 0, 0.7);
  */
  text-align: center;
  margin: 1rem auto;
}

.status.online {
  color: #8ed629;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.status .pulse {
  width: 10px;
  height: 10px;
  border-radius: 30px;
}

.status .pulse.green-light {
  -webkit-animation: 2s linear infinite greenPulse;
          animation: 2s linear infinite greenPulse;
  border: 6px solid rgba(142, 214, 41, 0.884);
}

.status h3 {
  font-size: 14px;
}

.navigation-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1rem auto;
  width: 100%;
  max-width: 100%;
}

.navigation-wrapper nav {
  width: 24rem;
  max-width: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.navigation-wrapper nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 -4px rgba(255, 255, 255, 0.6), 0 -8px black, 4px 0 rgba(255, 255, 255, 0.6), 4px -4px black, 8px 0 black, 0 4px rgba(255, 255, 255, 0.6), 0 8px black, -4px 0 rgba(255, 255, 255, 0.6), -4px 4px black, -8px 0 black, -4px -4px black, 4px 4px black;
          box-shadow: 0 -4px rgba(255, 255, 255, 0.6), 0 -8px black, 4px 0 rgba(255, 255, 255, 0.6), 4px -4px black, 8px 0 black, 0 4px rgba(255, 255, 255, 0.6), 0 8px black, -4px 0 rgba(255, 255, 255, 0.6), -4px 4px black, -8px 0 black, -4px -4px black, 4px 4px black;
  background-image: url(../img/nav.png);
  background-size: contain;
  padding: .75rem;
  -webkit-filter: grayscale(25%);
          filter: grayscale(25%);
  height: 50px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.navigation-wrapper nav ul li {
  list-style: none;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.navigation-wrapper nav ul li a {
  color: #d9d9d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-size: 1.25rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.navigation-wrapper nav ul li a:hover {
  color: #fff;
}

.navigation-wrapper nav ul li a svg {
  fill: #d9d9d9;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.navigation-wrapper nav ul li a svg:hover {
  fill: #fff;
}

.none {
  display: none;
}

.show-btn {
  display: block;
  position: fixed;
  top: 85%;
  left: 82%;
}

.back-to-top {
  padding: .5rem;
  z-index: 100;
  background-color: #ebebeb;
  border: none;
  border-radius: 2px;
  -webkit-animation: 2s linear infinite alternate backToTopAnim;
          animation: 2s linear infinite alternate backToTopAnim;
  cursor: pointer;
}

button svg {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.rules-wrapper {
  margin: 2rem auto;
}

.items-wrapper {
  width: 100%;
  margin: 2rem auto;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 -4px rgba(255, 255, 255, 0.6), 0 -8px black, 4px 0 rgba(255, 255, 255, 0.6), 4px -4px black, 8px 0 black, 0 4px rgba(255, 255, 255, 0.6), 0 8px black, -4px 0 rgba(255, 255, 255, 0.6), -4px 4px black, -8px 0 black, -4px -4px black, 4px 4px black;
          box-shadow: 0 -4px rgba(255, 255, 255, 0.6), 0 -8px black, 4px 0 rgba(255, 255, 255, 0.6), 4px -4px black, 8px 0 black, 0 4px rgba(255, 255, 255, 0.6), 0 8px black, -4px 0 rgba(255, 255, 255, 0.6), -4px 4px black, -8px 0 black, -4px -4px black, 4px 4px black;
  padding: .5rem;
}

.items-wrapper .wrapper-title {
  font-size: 48px;
  color: #ebebeb;
  text-align: center;
  margin: .75rem auto;
}

.items-wrapper .items-title {
  font-size: 48px;
  color: #f2f2f2;
  text-align: center;
  margin: .75rem auto;
}

.items-wrapper .item-container {
  margin: 1rem auto;
  width: 100%;
}

.behind-bg {
  background-color: #f2f2f2;
  border-radius: 14px;
  padding: .45rem;
  margin: 0 auto;
  width: 22rem;
  max-width: 100%;
  -webkit-transition: all 2.5s;
  transition: all 2.5s;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, #161313 0px 0px 0px 3px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, #161313 0px 0px 0px 3px;
}

.behind-bg .rule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 14px;
  border: 4px solid #1a1d21;
  box-shadow: inset 0 0 1rem 0 #fff, 0 0 5px 0 #000;
  -moz-box-shadow: inset 0 0 1rem 0 #fff, 0 0 5px 0 #000;
  -webkit-box-shadow: inset 0 0 1rem 0 #fff, 0 0 5px 0 #000;
  -khtml-box-shadow: white inset 0 0 1rem;
  background-color: #dddddd;
  height: auto;
  width: 100%;
  max-width: auto;
  padding: 2.5rem;
}

.behind-bg .rule .rule-title {
  font-size: 1.5rem;
  line-height: 1.25;
  letter-spacing: 1.5px;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 1rem;
}

.behind-bg .rule li {
  padding: .25rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #f2f2f2;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

footer .mojang-info {
  margin: 1rem auto;
  color: #c7c7c7;
  width: inherit;
}

footer .footer-text-czit {
  text-align: center;
  color: #e0e0e0;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: 'mc-font';
}

footer .logo-footer {
  width: 10rem;
  height: 10rem;
  margin: 1rem auto 0 auto;
}

footer nav {
  margin: 1rem auto;
  text-align: left;
  color: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer nav ul {
  list-style: disc;
  padding: .5rem;
}

footer nav ul a {
  color: #d1d1d1;
  text-decoration: none;
  font-size: 1.25rem;
}

footer nav ul a:hover {
  color: white;
}

footer a {
  color: #b3b3b3;
  text-decoration: none;
}

@media screen and (min-width: 600px) {
  .navigation-wrapper nav {
    width: 30rem;
  }
  .navigation-wrapper nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .navigation-wrapper nav ul li a {
    font-size: 1.5rem;
  }
  .item-container {
    margin: 1rem auto;
    width: auto;
  }
  .behind-bg {
    width: auto;
    max-width: 80%;
  }
  .mojang-info {
    width: 30rem;
    margin: 0 auto;
  }
  .footer-navigation {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    gap: 0px 0px;
        grid-template-areas: "footer-logo-wrapper footer-nav" "footer-text footer-text";
  }
  .footer-logo-wrapper {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: footer-logo-wrapper;
  }
  .footer-nav {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: footer-nav;
  }
  .footer-text {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: footer-text;
    margin: 1rem auto;
  }
}

@media screen and (min-width: 768px) {
  .show-btn {
    top: 85%;
    left: 92%;
  }
  .grid-social {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 0px 0px;
        grid-template-areas: "footer-navigation social";
  }
  .social {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: social;
  }
  .footer-navigation {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: footer-navigation;
  }
  .behind-bg article.rule {
    padding: 4.5rem;
  }
}

@media screen and (min-width: 992px) {
  .grid-header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    gap: 0px 0px;
    margin: 0 auto;
        grid-template-areas: "server logo-wrapper discord" "header-text header-text header-text";
  }
  .logo-wrapper {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: logo-wrapper;
  }
  .header-text {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: header-text;
  }
  .discord {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: discord;
  }
  .server {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: server;
  }
  .dis-title,
  .serv-title {
    font-size: 20px;
  }
  .server,
  .discord {
    -webkit-animation: 5s linear infinite alternate logoAnim;
            animation: 5s linear infinite alternate logoAnim;
  }
  .server {
    width: 15rem;
  }
  .discord {
    width: 16rem;
  }
}

@media screen and (min-width: 1200px) {
  #logo-header {
    width: 16rem;
    height: 16rem;
  }
  .header-text h1 {
    font-size: 82px;
    color: #ebebeb;
  }
  .status > h3 {
    font-size: 18px;
  }
}

@media screen and (min-width: 1400px) {
  .items-wrapper {
    width: 75rem;
  }
  #particles-js canvas {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    z-index: -10;
    display: block;
  }
  .show-btn {
    top: 75%;
    left: 93%;
  }
  button svg {
    width: 75px;
    height: 75px;
  }
  footer {
    width: 75rem;
  }
  footer .logo-footer {
    width: 12.5rem;
    height: 12.5rem;
  }
  footer .footer-text-czit {
    font-size: 3.5rem;
  }
  footer nav ul li {
    font-size: 30px;
  }
  footer nav ul li a {
    font-size: 30px;
  }
}

@media screen and (min-width: 1800px) {
  .show-btn {
    top: 80%;
    left: 86%;
  }
}
/*# sourceMappingURL=regulamin.css.map */