* {
  box-sizing: border-box;
  padding: 0; margin: 0
}

html {
  font-family: 'Ubuntu', sans-serif;
  scroll-behavior: smooth;
}

// #particles-js canvas{
//   position: absolute;
//   z-index: -5;
//   top: 0;
//   max-width: 67%;
// }

///////////////////// SCSS //////////////////////////

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

$black: hsl(0, 0%, 0%);
$white: hsla(0, 0%, 100%, 0.6);
$shadow: hsla(0, 0%, 0%, 0.1);
$px: 4px;
$bubble-border: 0 -1*$px $white, 
		0 -2*$px $black, 
		$px 0 $white, 
		$px -1*$px $black, 
		2*$px 0 $black, 
		0 $px $white, 
		0 2*$px $black, 
		-1*$px 0 $white, 
		-1*$px  $px $black, 
		-2*$px 0 $black, 
		-1*$px -1*$px $black, 
		$px $px $black;

///////////////////// ANIMATIONS //////////////////////////

@keyframes logoAnim {
  0% {transform: translateY(0);}
  100% {transform: translateY(50px);}
}

@keyframes greenPulse {
  0% {
    background-color: hsl(75, 97%, 31%);
    -webkit-box-shadow: 0 0 9px hsl(120, 100%, 40%);
  }
  50% {
    background-color: hsl(75, 91%, 39%);
    -webkit-box-shadow: 0 0 18px hsl(75, 91%, 39%);
  }
  100% {
    background-color: hsl(75, 97%, 31%);
    -webkit-box-shadow: 0 0 9px hsl(120, 100%, 40%);
  }
}

///////////////////// BODY //////////////////////////

.page-wrapper {
  position: relative;
  background-image: url("../img/bg-sklep.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: auto; height: 100%;
  padding: 1rem;
}

.the-header {
  @include flex-center();
  flex-direction: column;
}

.logo-wrapper {
  @include flex-center();
  
  .logo-header {
    width: 12rem; height: 12rem;
    margin: 1rem auto 0 auto;
    animation: 5s linear infinite alternate logoAnim;
  }
}

.header-text {
  text-align: center;
  color: hsl(0, 0%, 95%);
  font-size: 22px;
  margin-bottom: 2rem;
}

.server,
.discord {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 16rem;
  margin: 0 auto;

  .dis-title,
  .serv-title {
    font-weight: 700;
    color: hsl(0, 0%, 95%);
    color: #e11d25;
    letter-spacing: 1px;
  }

  .join-server-dis {
    font-size: 10px;
    text-align: right;
    font-weight: 700;
    text-transform: uppercase;
    color: hsl(0, 0%, 90%);
  }

  .join-server-serv {
    font-size: 10px;
    text-align: left;
    font-weight: 700;
    text-transform: uppercase;
    color: hsl(0, 0%, 90%);
  }
}

.server-img {
  width: 4rem; height: 4rem;
}

.status {
  /* COLOR STATUS ONLINE
  color: rgba(140, 213, 41, 0.7);
  */
  /* COLOR STATUS OFFLINE
  color: rgba(252, 146, 0, 0.7);
  */
  text-align: center;
  margin: 1rem auto;

  &.online {
    color: hsla(85, 68%, 50%, 1);
    @include flex-center();
  }

  .pulse {
    width: 10px; height: 10px;
    border-radius: 30px;

    &.green-light {
      animation: 2s linear infinite greenPulse;
      border: 6px solid hsla(85, 68%, 50%, 0.884);
    }
  }

  h3 {
    font-size: 14px;
  }
}

.navigation-wrapper {
  @include flex-center();
  flex-wrap: wrap;
  margin: 1rem auto;
  width: 100%;
  max-width: 100%;

  nav {
    width: 24rem;
    max-width: 100%;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: $bubble-border;
      background-image: url(../img/nav.png);
      background-size: contain;
      padding: .75rem;
      filter: grayscale(25%);

      li {
        list-style: none;

        a {
          color: hsl(0, 0%, 92%);
          @include flex-center();
          text-decoration: none;
          font-size: 1.25rem;

          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}



.none {
  display: none;
}

.opacity-zero {
  opacity: 0;
}

.opacity-one {
  opacity: 1;
  transition: all 1.5s;
}

.intersection-anim {
  opacity: 0;
}

@keyframes anim1 {
  from{
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.show-btn {
  display: block;
  position: fixed;
  top: 85%; left: 85%;
}

.back-to-top {
  padding: .5rem;
  z-index: 100;
}

///////////////////// MAIN //////////////////////////

.rules-wrapper {
  margin: 2rem auto;
}

.items-wrapper {
  width: 100%;
  margin: 2rem auto;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: $bubble-border;
  padding: .5rem;

  .wrapper-title {
    font-size: 48px;
    color: white;
    text-align: center;
    margin: 0.75rem auto;
  }

  .items-title {
    font-size: 48px;
    color: hsl(0, 0%, 95%);
    text-align: center;
    margin: .75rem auto;
  }

  .item-container {
    margin: 1rem auto;
  }
}

.behind-bg {
  background-image: linear-gradient(180deg,#757b81,#a1a5aa);
  border-radius: 14px;
  padding: .6rem;
  margin: 0 auto;
  width: 22rem;
  max-width: 100%;
  text-align: left;

  .rule {
    @include flex-center();
    flex-direction: column;
    border-radius: 14px;  
    border: 4px solid #1a1d21;
    box-shadow: inset 0 0 1rem 0 #fff, 0 0 5px 0 #000;
    -moz-box-shadow: inset 0 0 1rem 0 #fff, 0 0 5px 0 #000;
    -webkit-box-shadow: inset 0 0 1rem 0 #fff, 0 0 5px 0 #000;
    -khtml-box-shadow: rgb(255, 255, 255) inset 0 0 1rem;
    background-color: #bcbfc2;
    height: auto;
    width: 100%; 
    padding: 2.25rem;

    .rule-title {
      font-size: 1.5rem;
      line-height: 1.25;
      letter-spacing: 1.5px;
      font-weight: lighter;
      text-align: center;
      margin-bottom: 1rem;
    }

    li {
      padding: .25rem;
    }
  }
}

///////////////////// FOOTER //////////////////////////

footer {

  @include flex-center();
  flex-direction: column;
  color: hsl(0, 0%, 95%);
  text-align: center;

  .payment-methods {
    font-size: 22px;
  }

  .psc {
    width: 100%; height: 10rem;
  }

  .sms {
    width: 8rem; height: 8rem;
  }

  .payment-server-info {
    margin: 1rem auto;
  }

  .logo-footer {
    width: 10rem; height: 10rem;
    margin: 1rem auto 0 auto;
  }

  nav {
    margin: 1rem auto;
    text-align: left;

    ul {
      list-style: disc;
      padding: .5rem;

      a {
        color: hsl(0, 0%, 95%);
        text-decoration: none;
        font-size: 1.25rem;
      }
    }
  }

  a {
    color: hsl(0, 0%, 70%);
    text-decoration: none;
  }
}

@media screen and (min-width: 600px) {
  
  .navigation-wrapper nav {
    width: 30rem;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-around;

      li {
        a {
          font-size: 1.5rem;
        }
      }
    }
  }

  .item-container {
    margin: 1rem auto;
    width: auto;
  }

  .behind-bg {
    width: auto;
    max-width: 80%;
  }
  
  .payment-server-info {
    width: 30rem; 
    margin: 0 auto;
  }

  .footer-navigation {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px;
    margin: 1rem auto;
    width: 28rem;
    grid-template-areas: 
    "footer-logo-wrapper footer-nav"; 
  }

  .footer-logo-wrapper {
    grid-area: footer-logo-wrapper;
  }

  .footer-nav {
    grid-area: footer-nav;
    @include flex-center();
    font-size: 24px;

    a {
      font-size: 24px;
    }
  }
}

@media screen and (min-width: 768px) {
  .show-btn {
    top: 85%; left: 92%;
  }
}

@media screen and (min-width: 992px) {
  .grid-social {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "footer-navigation social";
    margin: 1rem auto;
  }

  .footer-navigation {
    grid-area: footer-navigation;
    @include flex-center();

    a {
      font-size: 30px;
    }
  }

  .social {
    grid-area: social;
  }

  footer .payment-methods {
    font-size: 28px;
  }

  footer.items-wrapper {
    padding: 2rem;
  }

  .grid-header {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: auto auto; 
    gap: 0px 0px;
    margin: 0 auto;
    grid-template-areas: 
    "server logo-wrapper discord"
    "header-text header-text header-text"; 
  }
  .logo-wrapper { grid-area: logo-wrapper; }
  .header-text { grid-area: header-text; }
  .discord { grid-area: discord;  }
  .server { grid-area: server;  }

  .dis-title,
  .serv-title {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  
  #logo-header {
    width: 16rem; height: 16rem;
  }

  .header-text h1 {
    font-size: 64px;
    color: hsl(0, 0%, 92%);
  }

  footer .psc {
    width: auto;
  }

  .status > h3 {
    font-size: 18px;
  }
}

@media screen and (min-width: 1400px) {
  .items-wrapper {
    width: 75rem;
  }
}

@media screen and (min-width: 1800px) {
  .show-btn {
    top: 85%; left: 82%;
  }
}